@model WebApplication1.Models.CircuitModelBase

@Html.Partial("_AfricaCircuitsCarousel")


<div class="row">
    @foreach (var item in Model.AllDestinations)
    {
        <div class="col-md-6 col-sm-12">
            @Html.Partial("_DestinationWidget", item)
        </div>
    }
</div>