@model WebApplication1.Models.CircuitModelBase

@*@Html.Partial("_AsiaCircuitsCarousel")*@
@Html.Partial("_HomepageCarousel")

<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">Top circuits in Asia</h1>
    </div>
</div><!--/breadcrumbs-->

<div class="row">    
    @foreach (var item in Model.AllDestinations)
    {
        <div class="col-md-12 col-sm-12">
            @Html.Partial("_DestinationWidget", item)
        </div>        
    }   
</div>

