@model WebApplication1.Models.DomingoModelBase

@{
    if (Model != null && Model.Destination != null)
    {
        ViewBag.Description = Model.Destination.MetaDescription;
        ViewBag.KeyWords = Model.Destination.MetaKeywords;
    }
}

@Html.Partial("_HomepageCarousel")

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">@Model.PageName</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/Circuit/Asia">Asia</a></li>
            <li><a href="/Circuit/India">India</a></li>
            <li class="active">@Model.Destination.Name</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

