@model WebApplication1.Models.CircuitModelBase

@Html.Partial("_HomepageCarousel")

<br />

<div class="row">
    @foreach (var destination in Model.AllDestinations)
    {
        <div class="col-md-3 col-sm-3">

            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="@destination.ThumbnailPath" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">@destination.Name</a></h3>
                    <p>@destination.Description</p>
                </div>
            </div>            
        </div>
    }
</div>

    

    

   
