@model WebApplication1.Models.CircuitModelBase

@*@{
    Layout = "";
}*@

<div class="blog-three">
    <div class="row">
        <!-- Mainbar column -->
        <div class="col-md-12">

            <!-- Blog item starts -->
            <div class="blog-three-item">
                <!-- blog three slider -->
                <!-- Carousel -->
                <!-- Bootstrap carousel usage
                    Bootstrap carousel should have id. Below i am using "bs-carousel-X". Where "X" denotes number". If a page has more than 1 carousel, then add the new carousel with the id "bs-carousel-1", "bs-carousel-2". You also need to update the id in, "carousel indicators" section and "carousel control" section.

                    Carousel comes with 3 main data attributes which you can customize. They are...
                    data-interval - Time delay between item cycle. Default value "5000".
                    data-pause - Pause on hover. Default value "pause".
                    data-wrap - Continues cycle or stop at the end. Default value "true".
                -->
                <!-- Outer layer -->
                <div id="bs-carousel-1" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" data-wrap="true">
                    <!-- Bootstrap indicators. If you don't need indicators, remove the below section -->
                    <ol class="carousel-indicators">
                        <li data-target="#bs-carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#bs-carousel-1" data-slide-to="1"></li>
                        <li data-target="#bs-carousel-1" data-slide-to="2"></li>
                        <li data-target="#bs-carousel-1" data-slide-to="3"></li>
                        <li data-target="#bs-carousel-1" data-slide-to="4"></li>
                    </ol>
                    <!-- Slides. You can also add captions -->
                    <div class="carousel-inner">
                        <!-- Item, First item should have extra class "active" -->
                        <div class="item active">
                            <!-- Image -->
                            <img src="~/Content/img/Kilimanjaro-Climb/kili-s01.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/img/Kilimanjaro-Climb/kili-s02.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/img/Kilimanjaro-Climb/kili-s03.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/img/Kilimanjaro-Climb/kili-s04.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/Content/img/Kilimanjaro-Climb/kili-s05.jpg" alt="">
                        </div>
                    </div>
                    <!-- Carousel controls (arrows). If you don't need controls, remove the below section -->
                    <a class="left carousel-control" href="#bs-carousel-1" role="button" data-slide="prev">
                        <span class="fa fa-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#bs-carousel-1" role="button" data-slide="next">
                        <span class="fa fa-chevron-right"></span>
                    </a>
                </div>

                <!-- blog three Content -->
                <div class="blog-three-content">
                    <!-- Heading -->
                    <h1>Climbing Kilimanjaro</h1>
                    <!-- Blog meta -->
                    <!-- Paragraph -->
                    <h4>
                        Kilimanjaro is the tallest lone standing mountain in the world! At Uhuru peak, 5895 m above sea level, you can stand on a glacier right on the equator.
                        You can then look at the clouds below you. Make new friends on the way up and on your way down. All this in the middle of the incredible landscape of Africa!
                    </h4>
                </div>
            </div>
            <!-- Blog item ends -->
        </div>
    </div>

    <div class="img-box-3 text-center">
        <div class="row">
            <h1 class="text-center">Travelogy club services for Kilimanjaro expedition</h1><br />
        </div>
        <div class="row">
            <!--Item-1-->
            <div class="col-md-3 col-sm-6">
                <!-- Image Box #3 Item -->
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/Content/img/flat-icons/18.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Planning</h4>
                    <div class="bor bg-orange"></div>
                    <h3><small>Create your plan using the Trip Planner, use out expert team to discuss the options for climbing.</small></h3>
                </div>
            </div>

            <!--Item-2-->
            <div class="col-md-3 col-sm-6">
                <!-- Image Box #3 Item -->
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/Content/img/flat-icons/12.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Tickets and Bookings</h4>
                    <div class="bor bg-orange"></div>
                    <h3><small>Travelogy club will take care of the air tickets and the required accommodation.</small></h3>
                </div>
            </div>

            <!--Item-3-->
            <div class="col-md-3 col-sm-6">
                <!-- Image Box #3 Item -->
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/Content/img/flat-icons/17.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Guides and crew</h4>
                    <div class="bor bg-orange"></div>
                    <h3><small>We use our trusted partners on ground to provide you with professional guides and expert mountain crew.</small></h3>
                </div>
            </div>

            <!--Item-4-->
            <div class="col-md-3 col-sm-6">
                <!-- Image Box #3 Item -->
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/Content/img/flat-icons/16.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Camping gears</h4>
                    <div class="bor bg-orange"></div>
                    <h3><small>We arrange for the tents and other equipments you will need for a successful climb.</small></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            @if (Request.IsAuthenticated)
            {
                @Html.Partial("_StartTripPlanning")
            }

            else
            {
                @Html.Partial("_JoinNowTripPlanning")
            }
        </div>
        <div class="col-md-6 col-sm-6">
            <!-- Blog item starts -->
            <div class="blog-three-item">
                <!-- blog three Img -->
                <div class="blog-three-img">
                    <!-- Image -->
                    <img src="~/Content/img/Kilimanjaro-Climb/kili04.jpg" alt="" class="img-responsive img-thumbnail" />
                </div>
                <!-- blog three Content -->
                <div class="blog-three-content">
                    <!-- Heading -->
                    <h3><a href="Kilimanjaro-Climb.html">Climb to the top of Africa</a></h3>
                    <!-- Paragraph -->
                    <h5>Choose one of the many routes based on your comfort level and fitness. Remember the simple mantra to successfully climb the summit: POLEY POLEY. In Swahili it means 'slowly slowly'. Yes, that is how you reach to the top. Be it a mountain or any other goal in life. Uhuru peak, 5895 m above sea level is the topmost point in Africa.</h5>
                </div>
            </div>
            <!-- Blog item ends -->
        </div>
    </div>
</div>
