@{
    ViewBag.Title = "Trips to Mongolia";
    ViewBag.Description = "Tailor made trips to Mongolia";    
    ViewBag.KeyWords = "Mongolia, Trips to Mongolia, Gobi Desert, Trips to  Gobi Desert";
}

<div class="row">
    <!-- Mainbar column -->
    <div class="col-md-12">

        <!-- Blog item starts -->
        <div class="blog-three-item">
            <!-- blog three slider -->
            <!-- Carousel -->
            <!-- Bootstrap carousel usage
                Bootstrap carousel should have id. Below i am using "bs-carousel-X". Where "X" denotes number". If a page has more than 1 carousel, then add the new carousel with the id "bs-carousel-1", "bs-carousel-2". You also need to update the id in, "carousel indicators" section and "carousel control" section.

                Carousel comes with 3 main data attributes which you can customize. They are...
                data-interval - Time delay between item cycle. Default value "5000".
                data-pause - Pause on hover. Default value "pause".
                data-wrap - Continues cycle or stop at the end. Default value "true".
            -->
            <!-- Outer layer -->
            <div id="bs-carousel-1" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" data-wrap="true">
                <!-- Bootstrap indicators. If you don't need indicators, remove the below section -->
                <ol class="carousel-indicators">
                    <li data-target="#bs-carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#bs-carousel-1" data-slide-to="1"></li>
                    <li data-target="#bs-carousel-1" data-slide-to="2"></li>
                    <li data-target="#bs-carousel-1" data-slide-to="3"></li>
                    <li data-target="#bs-carousel-1" data-slide-to="4"></li>
                </ol>
                <!-- Slides. You can also add captions -->
                <div class="carousel-inner">
                    <!-- Item, First item should have extra class "active" -->
                    <div class="item active">
                        <!-- Image -->
                        <img src="~/content/img/Mongolia/mongol-s01.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/content/img/Mongolia/mongol-s02.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/content/img/Mongolia/mongol-s03.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/content/img/Mongolia/mongol-s04.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/content/img/Mongolia/mongol-s05.jpg" alt="">
                    </div>
                </div>
                <!-- Carousel controls (arrows). If you don't need controls, remove the below section -->
                <a class="left carousel-control" href="#bs-carousel-1" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#bs-carousel-1" role="button" data-slide="next">
                    <span class="fa fa-chevron-right"></span>
                </a>
            </div>

            <!-- blog three Content -->
            <div class="blog-three-content">
                <!-- Heading -->
                <h1>Be a Nomad in the endless fields of Mongolia</h1>
                <!-- Blog meta -->
                <!-- Paragraph -->
                <p>
                    Mongolia has 3 million humans and 60 million animals. And more than 85% of the roads are un-paved.
                    Arrive at Ulan Bator which has become a busy bustling metropolis, and venture out to the endless roads out of the city.
                    From miles and miles of green grass or snow covered hills to the ruthless Gobi Desert and the Altai mountains, the legendary lands of Zenghis Khan open new opportunities for every traveller.                    
                </p>
            </div>
        </div>
        <!-- Blog item ends -->
    </div>
</div>

<div class="img-box-3 text-center">
    <div class="row">
        <h1 class="text-center">Travelogy club services for Mongolia tours</h1><br />
    </div>
    <div class="row">
        <!--Item-1-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/content/img/flat-icons/18.png" alt="" class="img-responsive" />
                </div>
                <h4>Planning</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Use out expert team to create the best trip plan for your Mongolian adventures.</small></h3>
            </div>
        </div>

        <!--Item-2-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/content/img/flat-icons/passport.png" alt="" class="img-responsive" />
                </div>
                <h4>Visas</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Travelogy club will take care of the travel documents you will need for the trip.</small></h3>
            </div>
        </div>

        <!--Item-3-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/content/img/flat-icons/airplane.png" alt="" class="img-responsive" />
                </div>
                <h4>Booking</h4>
                <div class="bor bg-orange"></div>
                <h3><small>We use our trusted partners on ground to book the train + air tickets and accomodations.</small></h3>
            </div>
        </div>

        <!--Item-4-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/content/img/flat-icons/chatting-2.png" alt="" class="img-responsive" />
                </div>
                <h4>Support</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Stay in touch with our global contact center and the regional partner through the trip.</small></h3>
            </div>
        </div>
    </div>

    <div class="row">

        <!--Item-6-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/content/img/flat-icons/bed-1.png" alt="" class="img-responsive" />
                </div>
                <h4>Accommodation</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Find exciting accommodation ranging from bunk beds to luxury hotels in the city to the traditional nomadic tents in the wild.</small></h3>
            </div>
        </div>

        <!--Item-7-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/content/img/flat-icons/desert-1.png" alt="" class="img-responsive" />
                </div>
                <h4>Excursions</h4>
                <div class="bor bg-orange"></div>
                <h3><small>We arrange various excursions around Mongolia, Explore amazing landscapes from the Gobi Desert to Altai Mountains.</small></h3>
            </div>
        </div>

        <!--Item-5-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/content/img/flat-icons/desert.png" alt="" class="img-responsive" />
                </div>
                <h4>Adventure</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Mongolia has adventure in every corner, ride a Camel across the sand dunes, or go horse-riding in the vast meadows.</small></h3>
            </div>
        </div>

        <!--Item-5-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/content/img/flat-icons/jeep.png" alt="" class="img-responsive" />
                </div>
                <h4>Local Transport</h4>
                <div class="bor bg-orange"></div>
                <h3><small>We can pre-arrange local transport, typically a 4x4 suitable for off-roading, or you can always ask our contact center to arrange it on-demand.</small></h3>
            </div>
        </div>
    </div>
</div>


@if (Request.IsAuthenticated)
{    
    @Html.Partial("_StartTripPlanning", new WebApplication1.Models._StartTripPlanningViewModel() { CircuitName = "Mongolia" })
}
else
{
    <div class="row tag-box tag-box-v2 padd-15 text-center">
        <h2>
            <a href="/Circuit" class="btn-u btn-u-lg btn-u-orange">Join the club and start planning. <i class="icon-signin"></i></a> &nbsp; Or, simply &nbsp;
            <a href="/Account/ExternalLogin?provider=Facebook" class="btn-u btn-u-lg btn-u-orange"><i class="icon-facebook"></i> &nbsp; Login with Facebook</a>
        </h2>
    </div>

    @Html.Partial("_SubmitTripRequest", new WebApplication1.Models._SubmitTripRequestViewModel() { CircuitName = "Mongolia" });
}