<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TravelogyDevEntities" connectionString="metadata=res://*/D-DataModel.csdl|res://*/D-DataModel.ssdl|res://*/D-DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YUBAN-OPTIPLEX7;initial catalog=TravelogyDev;persist security info=True;user id=sa;password=N@rth3rnL1ght;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TravelogyDevEntities1" connectionString="metadata=res://*/D-DbModel.csdl|res://*/D-DbModel.ssdl|res://*/D-DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YUBAN-OPTIPLEX7;initial catalog=TravelogyDev;persist security info=True;user id=sa;password=N@rth3rnL1ght;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>