@{
    ViewBag.Title = "Free Trip Planner";
}

@Html.Partial("_HomepageCarousel")

<div class="container">
    <div class="row margin-bottom-20">                
        <h3 class="color">Plan independent trips to exotic locations. <small>Create your own itinerary and we will help you fine tune it with advise from Travel experts.</small></h3>                
    </div>
    <div class="row text-center margin-bottom-20">
        <h1>Where do you want to go?</h1>
        <h6 class="color">Start planning by clicking on the destination</h6>
    </div>
    <div class="row margin-bottom-20">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails">
                <a href="/Plan/India">
                    <img class="img-responsive" src="/content/img/India/thumbnail003.jpg" alt="" />
                    <h1 class="color">India <small class="color">Nepal &amp; Bhutan</small></h1>
                    <h4>Plan your incredible trip &nbsp;<i class="icon-arrow-right"></i></h4>                    
                    <h5>Mountains, beaches, history, adventure, <span class="orange">Motorcycling</span>, wild-life, urban escapes, 
                        <span class="orange">Photography tours</span>, festivals, art &amp; culture ... explore every aspect of this vast sub-continent.</h5>
                    <div class="margin-bottom-20"></div>
                </a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="thumbnails">
                <a href="/Plan/Tanzania">
                    <img class="img-responsive" src="/content/img/Kilimanjaro-Climb/thumbnail_kili02.jpg" alt="" />
                    <h1 class="color">Tanzania</h1>
                    <h4>Get high and wild &nbsp;<i class="icon-arrow-right"></i></h4>
                    <h5>Climb Mt Kilimanjaro &amp; go wild in a Safari jeep, indulge in local cuisine, camp in the middle of Serengeti.</h5>
                    <h6 class="orange">English speaking local expert guides available on demand.</h6>
                    <div class="margin-bottom-20"></div>
                </a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="thumbnails">
                <a href="/Plan/Russia">
                    <img class="img-responsive" src="~/content/img/Lake-Baikal/thumbnail_baikal_winter.jpg" alt="" />
                    <h1 class="color">Russia <small class="color">East &amp; Far-east</small></h1>
                    <h4>Explore the wilderness &nbsp;<i class="icon-arrow-right"></i></h4>
                    <h5>Take a train from Moscow to cross the largest country on Earth, snowmobile across the deepest lake in winter, 
                    discover Buddhism in the Far-east of Russia.</h5>
                    <div class="margin-bottom-20"></div>
                </a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="thumbnails">
                <a href="/Plan/Mongolia">
                    <img class="img-responsive" src="~/content/img/Mongolia/thumbnail_mongol01.jpg" alt="" />
                    <h1 class="color">Mongolia</h1>
                    <h4>Be a nomad &nbsp;<i class="icon-arrow-right"></i></h4>
                    <h5>Spot the wild horses in the Khustai plains, make a trip to the inhospitable Gobi Desert, 
                    explore the relics of Ghengiz Khan, spend time with the Nomads in middle of nowhere.</h5>
                    <div class="margin-bottom-20"></div>
                </a>
            </div>
        </div>
        
    </div><!--/row-->
</div>