@{
    Random rnd = new Random();
    int index = rnd.Next(1, 4);
    string imgSrc = string.Format(@"/Content/img/gallery/big/slider00{0}.jpg", index);

    <div class="row">
        <div class="col-md-12 padd-10">
            <img class="img-responsive" src="@imgSrc" />            
        </div>
    </div>
}

