@using DomingoBL;
@using DomingoDAL;
@using Microsoft.AspNet.Identity;

@{
    if (Request.IsAuthenticated)
    {
        DomingoBL.BlObjects.BlViewTrip _nextTrip = ApplicationUserManager.GetImmidiateTrip(User.Identity.GetUserId());
        if (_nextTrip != null)
        {
            <div>
                <h2 class="orange text-center">Your upcoming trip with Travelogy</h2>
                <div class="margin-bottom-20"></div>
                @Html.Partial("_TripPlanningPlannedTripSummary", _nextTrip)
            </div>
        }
        else
        {
            @*<div class="row">
                @Html.Partial("_TripPlannerAdvert")
            </div>*@
        }
    }
}

