@*<div class="container">
    <div class="row margin-bottom-20">
        <div class="panel panel-black">
            <div class="panel-body">
                <h3 class="margin-bottom-20">
                    Join the club for FREE and use our Trip planner. <span class="orange">Create and manage custom itineraries, FREE consultation from Travel experts.</span>
                    Get access to local travel agencies across the destinations.
                </h3>
                <a class="btn-u btn-u-small" href="/Account/Membership">
                    Sign up &nbsp; <i class="icon-arrow-right"></i>&nbsp;
                </a>&nbsp;
            </div>
        </div>
    </div>
</div>*@
