@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
        @Html.AntiForgeryToken()
        
        <div class="row pull-right">
            <div class="col-md-12 pull-right col-sm-12">
                Hello @User.Identity.GetUserName()
                | @Html.ActionLink("Account settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                | <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </div>    
        </div>        
            @*<button type="submit" class="btn-u">Logout</button>*@
        }
}
