<div class="row">
    @Html.Partial("_TripPlannerAdvert")
</div>

<div class="row tag-box tag-box-v2 padd-15">
    <h2> <a href="/Circuit" class="btn-u btn-u-lg btn-u-orange">Start planning by exporing the circuits. <i class="icon-signin"></i></a> &nbsp;
    <a href="/Account/ExternalLogin?provider=Facebook" class="btn-u btn-u-lg btn-u-orange"><i class="icon-facebook"></i> &nbsp; Login with Facebook</a></h2>
</div>
