@model DomingoBL.BlObjects.BlViewTrip

@if (Model != null)
{
    if (Model.DlBookingsView != null)
    {
        if (Model.DlBookingsView.Count == 0)
        {
            <div class="row portfolio-item margin-bottom-50">
                <div class="col-md-12 md-margin-bottom-40">
                    <h1>No accommodation has been booked for this trip.</h1>
                </div>
            </div>
        }

        else
        {
            foreach (var _booking in Model.DlBookingsView)
            {
                <div class="row portfolio-item margin-bottom-50">
                    <!-- Content Info -->
                    <div class="col-md-12 md-margin-bottom-40">
                        <h3>@_booking.ShortDescription : </h3>
                        <h5 class="orange">@_booking.AccommodationType on @_booking.CheckinDate.Value.ToShortDateString()</h5>
                        <h4>Status: @_booking.Status</h4>
                        <p>Accommodation bookings are done through the local travel agency who is handling your trip.<br /> Travelogers will update the status of your booking within 2 working days of requesting.</p>
                        <p><a class="orange" href="/Service/ViewAccommodationBooking?id=@_booking.Id">View booking details</a></p>
                    </div>
                    <!-- End Content Info -->
                </div>
            }
        }

    }

    else
    {
        <h1>No bookings found</h1>
    }

}