@model WebApplication1.Models.TripViewModel

@if (@Model.AllTemplates != null)
{
    <div class="headline"><h2>Choose a circuit to start planning:</h2></div>
    <blockquote>
        <h2 class="color-green">Etiam porta sem malesuada magna mollis euismod</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis lorem ipsum dolor sit amet, consectetur adipiscing.</p>
    </blockquote>

    foreach (var _template in @Model.AllTemplates)
    {
        @Html.Partial("_TripTemplateWidget", new WebApplication1.Models.TripTemplateWidgetViewModel { TripId = 0, TripTemplate = _template })
    }
}


