@model DomingoBL.BlObjects.BlTripTemplate

<div class="media margin-bottom-20">
    @foreach (var step in Model.DlTemplateSteps)
    {
        <hr class="margin-bottom-20" />
            <h3>@step.ShortDescription</h3>
        if (!string.IsNullOrEmpty(step.ThumbnailPath))
        {
            <img src="@step.ThumbnailPath" class="img-responsive img-border" />
        }
        <p>@step.LongDescription</p>
            <hr class="margin-bottom-20" />
    }
</div>

