@model System.Web.Mvc.HandleErrorInfo

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="error-v1">
            <span class="error-v1-title">Oops!</span>
            <span>That’s an error!</span>
            <p>Something just went wrong!</p>
            <p class="red">You may have tried to access something that does not exist.</p>
            <p class="orange">
                <small>
                    <i>
                        Our technology team looks into all such errors and they will get your issue fixed!
                        Please accept our apologies for the glitch and continue to browse!
                    </i>
                </small>
            </p>
        </div>
    </div>
</div>

