<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="error-v1">
            <span class="error-v1-title">Done!</span>
            <span>Please check your email.</span>
            <p>We have sent a link to verify your mail.</p>            
        </div>
    </div>
</div>