@model WebApplication1.Models.MessageListModel

@Html.Partial("_HomepageCarousel")

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">Message centre</h1>        
    </div>
</div><!--/breadcrumbs-->

<div class="tab-v1">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#recent_msg" data-toggle="tab">Recent messages</a></li>
        <li><a href="#new_discussion" data-toggle="tab">Create a new discussion</a></li>
        <li><a href="#trip_messages" data-toggle="tab">Trip messages</a></li>
        <li><a href="#old_messages" data-toggle="tab">Older messages</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="recent_msg">
            <div class="row">
                <div class="col-md-12">
                    @*get all message threads for the user*@
                    @foreach (var item in Model.RecentMessages)
                    {
                        // pass the threads to the "_MessageThread" partial view
                        var _model = new WebApplication1.Models.MessageListItemViewModel() { MessageThread = item };
                        Html.RenderPartial("_MessageThread", _model);
                    }
                </div>                
            </div>
        </div>

        <div class="tab-pane" id="new_discussion">
            <h4>Start a new discussion</h4>
            @if (Request.IsAuthenticated)
            {
                var _model = new WebApplication1.Models.MessageViewModel();
                Html.RenderPartial("_MessageThreadStart", _model);
            }
        </div>

        <div class="tab-pane" id="trip_messages">
            <h4>Trip related messages</h4>
            <div class="row">
                <div class="col-md-12">
                    @*get all message threads for the user*@
                    @foreach (var item in Model.TripMessages)
                    {
                        // pass the threads to the "_MessageThread" partial view
                        var _model = new WebApplication1.Models.MessageListItemViewModel() { MessageThread = item };
                        Html.RenderPartial("_MessageThread", _model);
                    }
                </div>
            </div>
        </div>

        <div class="tab-pane" id="old_messages">
            <h4>Older messages</h4>
            <div class="row">
                <div class="col-md-12">
                    @*get all message threads for the user*@
                    @foreach (var item in Model.OldMessages)
                    {
                        // pass the threads to the "_MessageThread" partial view
                        var _model = new WebApplication1.Models.MessageListItemViewModel() { MessageThread = item };
                        Html.RenderPartial("_MessageThread", _model);
                    }
                </div>
            </div>
        </div>
    </div>
</div>











