@model WebApplication1.Models.TripPlanningViewModel

@{
    ViewBag.Title = "Trip Planner";
}

@Html.Partial("_HomepageCarousel")

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">Trip planner</h1>
        <ul class="pull-right breadcrumb">
            <li>Explore</li>
            <li>Plan</li>
            <li class="active">Book</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->


@if (!Request.IsAuthenticated)
{
    @Html.Partial("_TripPlanningNotLoggedInView")
}
else // for logged in users
{
    // user has not created any trip yet
    // show the create options
    if (Model.AllTrips == null || Model.AllTrips.Count == 0)
    {
        Html.RenderPartial("_TripPlanningZeroTrips", Model);
    }

    // planned trips
    else if (Model.PlannedTrips != null && Model.PlannedTrips.Count > 0)
    {
        foreach (var trip in Model.PlannedTrips)
        {
            Html.RenderPartial("_TripPlanningPlannedTripSummary", trip);
        }

        <div class="row tag-box tag-box-v5">
            <div class="col-md-8">
                <span>Planned more trips for future!</span>
            </div>
            <div class="col-md-4">
                <a href="/circuit" class="btn-u btn-u-lg btn-u-orange"><i class="icon-cloud"></i> Browse all circuits...</a>
            </div>
        </div>
    }
}





