@{ 
    Layout = "~/Views/Shared/_LayoutTravelogyV2.cshtml";
}

<div class="headline text-center">
    <h3>Trip planner v2</h3>
</div>

<div class="content">
    <div id='myMap' style='height: 600px;'></div>
    <script type='text/javascript'>
                var map; 
                function loadMapScenario() {
                    map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                        credentials: 'Au_oubgAnV-h-Vd2AMHY5E5PySpNaaSBgGRKffDdL8qXFrzu7s1uyPZvXl6G2Knx',
                        center: new Microsoft.Maps.Location(27.0331906, 88.2296557),
                        mapTypeId: Microsoft.Maps.MapTypeId.road,
                        disableStreetside: true,
                        zoom: 4
                    });

                    var center = map.getCenter();
                    var infobox = new Microsoft.Maps.Infobox(center, {
                        title: 'Map Center',
                        description: 'London'
                    });
                    infobox.setMap(map);
                    infobox.setOptions({ showPointer: false, showCloseButton: false });
                }


    </script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=experimental&callback=loadMapScenario' async defer></script>
</div>
