@model WebApplication1.Models.DomingoModelBase

@Html.Partial("_HomepageCarousel")

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">About Travelogy Ltd</h1>
    </div>
</div><!--/breadcrumbs-->

<div class="main-block">
    <div class="container">
        <div class="about-us-one">
            <div class="row">
                <div class="col-md-12">
                    <!-- Logo section -->
                    <div class="about-logo">
                        <!-- logo -->
                        <h2>Travelogy <small class="color">the Club for travellers</small></h2>
                        <p> We are a group of intrepid travellers who love exploring every extent of our planet.<br />
                            From the bustling pedestrian walkway of Manhattan to the desolate expanse of snow at Svalbard, we have walked them all with zeal and while travelling we gained a great treasure house of useful knowledge,
                            which we rightly call the 'Travelogy'. <br />
                            But we do not want to limit this knowledge to ourselves alone neither do we want to stop expanding it.<br />
                            <span class="color">Hence the club.</span> <br />
                            Join us if you are a master explorer like Marco Polo or David Livingstone, share your knowledge with us, or join us if you are a greenhorn tourist,
                            get an expert end to end travel solution on your next adventure. Join us, whoever you are, if you love to travel. Lets walk together.</p>
                        <p>Read more about the <a href="Philosophy">Philosophy</a> of Travelogy.</p>
                    </div>
                </div>
            </div>

            <hr class="margin-bottom-20" />           

            <div class="row">
                <div class="col-md-6">
                    <div class="about-logo">
                        <div class="headline">
                            <h3><span>Why Choose Us?</span></h3>
                        </div>
                        <p>
                            We are an organization promoting travel over tourism. We believe that your travel should follow your own plan and no one else's.
                            Travelogy club is here to help you plan it your own way. You can now say goodbye to the 5N/6D packages with fixed schedules dictating how you want to travel.
                            With us, you have the complete flexibility when you travel. Moreover, you can tweak and change your plans while on the tour, Travelogy club will make all efforts to make things happen on the fly.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="about-logo">
                        <div class="headline">
                            <h3><span>Our support for the local agencies</span></h3>
                        </div>
                        <p>
                            Travelogy club supports the local travel agencies at the destination. We believe that travelling should be beneficial to both parties, the guest and the host. Benefits, not just economical,
                            but also social and cultural. We have close ties with our associates, which goes beyond just Business as usual. We wish to spread the comraderies to fellow travellers.
                        </p>
                    </div>
                </div>
            </div>

            <hr class="margin-bottom-20" />           

            <!-- Our Process starts -->
            <!-- Heading -->
            <div class="block-heading-six">
                <h4 class="bg-color">Our Process</h4>
            </div>
            <br />
            <div class="our-process">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!-- Our Process Item-->
                        <div class="our-process-item">
                            <!-- Icon -->
                            <a href="#" class="white bg-orange"> <i class="fa fa-lightbulb-o"></i></a>
                            <!-- Arrow Image -->
                            <img src="~/content/img/our-process/arrow.png" alt="" class="img-responsive hidden-sm hidden-xs" />
                            <!-- Heading -->
                            <h4>Inception</h4>
                            <p class="color">Get an idea about the part of world you want to discover</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="our-process-item">
                            <a href="#" class="white bg-black"> <i class="fa fa-desktop"></i></a>
                            <img src="~/content/img/our-process/arrow.png" alt="" class="img-responsive hidden-sm hidden-xs" />
                            <h4>Planning</h4>
                            <p class="color">We help you by putting together a plan for your travel</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="our-process-item">
                            <a href="#" class="white bg-black"> <i class="fa fa-calendar"></i></a>
                            <img src="~/content/img/our-process/arrow.png" alt="" class="img-responsive hidden-sm hidden-xs" />
                            <h4>Booking</h4>
                            <p class="color">Our partner agencies will help you with all the bookings and travel papers</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="our-process-item">
                            <a href="#" class="white bg-orange">
                                <i class="fa fa-dashboard"></i>
                            </a>
                            <h4>Travel</h4>
                            <p class="color">Our contact center will be available 24x7 when you travel to help you</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Our Process ends -->

            <br />

            <div class="img-box-3">
                <div class="block-heading-six">
                    <h4 class="bg-black">Our team</h4>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!-- Image Box #3 Item -->
                        <div class="img-box-3-item">
                            <div class="img-box-3-icon">
                                <img src="~/content/img/flat-icons/businessman.png" alt="" class="img-responsive" />
                            </div>
                            <h4 class="text-center">Nilabhra Banerjee</h4>
                            <h5 class="text-center">(Principal Advisor)</h5>
                            <div class="bor bg-orange"></div>
                            <p>
                                <small>
                                    He has over a decade of experience in acquiring, handling and delivery of complex multitier business solutions for internationally renowned companies.
                                    He is currently associated with Strathclyde Business School in Glasgow as a researcher on business forecasting.                                    
                                </small>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <!-- Image Box #3 Item -->
                        <div class="img-box-3-item">
                            <div class="img-box-3-icon">
                                <img src="~/content/img/flat-icons/businesswoman.png" alt="" class="img-responsive" />
                            </div>
                            <h4 class="text-center">Beena Kumar</h4>
                            <h5 class="text-center">(Director - Marketing)</h5>
                            <div class="bor bg-orange"></div>
                            <p><small>After succesfully running multiple businesses in India and U.K. Travelogy is the latest enterprise of Beena. She is a travel enthusiast herself!</small></p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <!-- Image Box #3 Item -->
                        <div class="img-box-3-item">
                            <div class="img-box-3-icon">
                                <img src="~/content/img/flat-icons/businessman.png" alt="" class="img-responsive" />
                            </div>
                            <h4 class="text-center">Yuban Chakraborty</h4>
                            <h5 class="text-center">(Advisor - Technology)</h5>
                            <div class="bor bg-orange"></div>
                            <p><small>Sixteen years of IT experince and over three dozens of countries in the backpack, the Technical and Product advisor of Travelogy.</small></p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <!-- Image Box #3 Item -->
                        <div class="img-box-3-item">
                            <div class="img-box-3-icon">
                                <img src="~/content/img/flat-icons/businessman.png" alt="" class="img-responsive" />
                            </div>
                            <h4 class="text-center">Deb Majumder</h4>
                            <h5 class="text-center">(Advisor - Finance)</h5>
                            <div class="bor bg-orange"></div>
                            <p><small>A director with a London based investment house, is Travelogy's finance advisor. He comes with years of in-depth knowledge in the field.</small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
