@Html.Partial("_HomepageCarousel")

<div class="container">
    <div class="row blog-page blog-item margin-bottom-20">
        <div class="col-md-12 padd-10">
            <div class="block-heading-twelve">
                <h3>Thank you for contacting Travelogy.</h3>
                <h1 class="orange">Our team will contact you soon!</h1>
                <div class="margin-bottom-20"></div>                
            </div>            
        </div>
    </div>  
    <div class="about-us-one">
        <div class="about-logo">
            <h3>Meanwhile you can <a href="/" class="orange">continue browsing</a> and ... </h3>
            <p>
                Create your custom trip plan using our <a href="/service/TripPlanning" class="orange">FREE Trip Planning tool.</a>
                You can get ideas for trips to <strong>India, Nepal &amp; Bhutan, Russia, Mongolia and Tanzania</strong>.
                Get in touch with us for <a href="/service/TravelLogistics" class="orange">Logistics &amp; Support services</a>
                in the destinations to make your exotic trips a great experience to remember.
                We work with hand-picked, friendly and hard-working local operators in each destination.
            </p>
        </div> 
    </div>
    
</div>

