@using WebApplication1.Models
@model MessageViewModel

@Html.Partial("_HomepageCarousel")

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">Contact Travelogy Ltd</h1>
    </div>
</div><!--/breadcrumbs-->

@if (Request.IsAuthenticated)
{

    Html.RenderPartial("_MessageThreadStart", Model);
}

@Html.Partial("_ContactUsExternal")
