@model WebApplication1.Models.TravelogyModelBase

<div class="main-block">

    <div class="container">

        <div class="block-heading-seven">
            <h3>Frequently Asked Questions</h3>
            <h4 class="color">Some questions that most of our clients have. </h4>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- Box shadow outer class -->
                <div class="box-shadow-outer">
                    <div class="box-shadow-block box-shadow-1 text-left">
                        <h5>1. What is Travelogy club?</h5>
                        <p>
                            Travelogy club is a brand new travel aggregator promoting semi independent travel across various destinations.
                            Travelogy club promotes grass root travel operators at various corners of the world. We have launched our pilot project and you can
                            now travel to the select locations with guidance provided by our expert team and the ground support from our aliances in the destinations.
                        </p>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <!-- Box shadow outer class -->
                <div class="box-shadow-outer">
                    <div class="box-shadow-block box-shadow-1 text-left">
                        <h5>2. How will this help me to travel? I can do my own research!</h5>
                        <p>
                            We encourage you to do all your research as we are here to promote semi-independent travel over packaged holidays. Our service is to help you on top of your own research.
                            You can avail our service which is based on years of travel experience and first hand field experience.
                        </p>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- Box shadow outer class -->
                <div class="box-shadow-outer">
                    <div class="box-shadow-block box-shadow-1 text-left">
                        <h5>3. What role does Travelogy club play in my travel?</h5>
                        <p>Travelogy club helps you in the following areas:</p>
                        <ul>
                            <li> Help you choose a location or area you want to travel to.</li>
                            <li> Make a plan tailored for you, everyone has a different style of travelling, we know one size does not suit all.</li>
                            <li> Our agents work with you to finalize your custom trip itinerary.</li>
                            <li> We have trusted partners in every destination we offer, they are not randomly chosen, they are chosen based on first-hand experience and evaluation.</li>
                            <li> Travelogy club can create a customized guide book for you along with your trip plan.</li>
                        </ul>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <!-- Box shadow outer class -->
                <div class="box-shadow-outer">
                    <div class="box-shadow-block box-shadow-1 text-left">
                        <h5>4. What are the terms and conditions?</h5>
                        <p>
                            Travelogy club terms and conditions for your individual trip will be in your Travel Contract.
                            A contract will be drawn before you avail our service, which will very clearly state the services we are going to offer.
                            This will clearly state the inclusions and exclusions. The contract will also have the total price of the services, and the agreed time and method of payment.
                            For the general terms and conditions of our service please look <a href="terms-and-conditions.html" target="_blank">here</a>.
                        </p>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- Box shadow outer class -->
                <div class="box-shadow-outer">
                    <div class="box-shadow-block box-shadow-1 text-left">
                        <h5> 5. Is it free? What are the costs involved with availing the service?</h5>
                        <p>
                            Travelogy club advices are free. Travelogy club services are not free.
                            The following are the paid services that we offer, each item is individually priced and you will receive a price quote for each when you are in the consultation phase with our agents..
                        </p>
                        <ul class="list-unstyled">
                            <li> Creation of a guidebook.</li>
                            <li> Making a trip booking.</li>
                            <li> Airline booking (through our associates).</li>
                            <li> Visa services (through our associates).</li>
                            <li> Travel insurance (through our associates).</li>
                            <li> Hotel booking (through our associates).</li>
                            <li> Inland transport arrangements (through our associates).</li>
                            <li> Any bespoke arrangements.</li>
                        </ul>
                    </div>
                </div>
                <br />
            </div>

            <div class="col-md-6">
                <!-- Box shadow outer class -->
                <div class="box-shadow-outer">
                    <div class="box-shadow-block box-shadow-1 text-left">
                        <h5>6. What are the services provided by Travelogy club in case of Emergencies?</h5>
                        <p>
                            Travelogy club will provide you all the information about health and safety, and any impending dangers of the travel planned. We will do our best to prevent emergencies.
                            However, we understand unforeseen events do occur. At Travelogy club we take the issue of safety seriously and our associates in the destinations are always there to help you out.
                            If you are in an organized travel group, you will have someone to accompany you during emergencies. If you are travelling independently, you can still have an emergency contact number for the destination,
                            and an emergency number for our control center in India / United Kingdom. Once alerted, our team will do everything possible to help the traveler in case on an emergency.
                            For all trips, we will help you buy the correct insurance, and will provide you with all the emergency contact numbers.
                        </p>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- Box shadow outer class -->
                <div class="box-shadow-outer">
                    <div class="box-shadow-block box-shadow-1 text-left">
                        <h5>7. What are the procedures for dispute management?</h5>
                        <p>
                            It is not uncommon to have disputes between a traveler and the service provider.
                            Travelogy club keeps the customer on its top priority and will go extra mile to resolve any dispute.
                            We will fulfill everything promised in the travel contract. In case of any shortcoming on our part, our team will work its best to make you feel better.
                        </p>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <!-- Box shadow outer class -->
                <div class="box-shadow-outer">
                    <div class="box-shadow-block box-shadow-1 text-left">
                        <h5>8. How is Travelogy club going to handle the personal details I am supplying?</h5>
                        <p>Your security and that of all our client is very important to us. Please read Our <a href="privacy.html" target="_blank">privacy policy</a> for important information regarding the use of Your personal data and Your rights in relation to this.</p>
                    </div>
                </div>
                <br />
            </div>
        </div>

    </div>
</div>
