@model WebApplication1.Models.TravelogyModelBase

<div class="main-block">

    <div class="container">

        <div class="about-us-one">

            <div class="row">

                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>Something About <span class="color">Travelogy</span></h3>
                        <p>
                            Travelogy is the  <span class="color">science of travelling</span>. The main characteristics of animals that separates them from the plants is locomotion.
                            The virtue of being able to move from one place to another was one of the biggest step in evolution. Over the millions of years, two types of animals evolved,
                            both on land and in the sea: those who hold on to a particular territory and those who love to travel long distance. <br />
                            The first kind survives by safeguarding the resources bound in the small territory. These species often distribute a larger territory among themselves.
                            The second kind flourish by moving to various parts of the planet. Penguins, Waders, wildebeest, cranes, Salmons and Humans, we are all migratory animals.
                            With urban centric civilization of recent times playing predominant role in our lives, we completely forget that our species thrived based on migration.
                            It probably all started from the Oldupai gorge near Gnorongoro crater in Africa when we started walking across the frozen oceans of the ice age. <br />
                            Now we live from the Sahara Desert to the Arctic, from island of Hawaii to the base of Mt Everest. From 60 C in Iraq to -55 C in Oymyakon, we learnt to survive it all.
                        </p>
                    </div>
                    <!--<a href="#" class="btn btn-color">Download</a> &nbsp; <a href="#" class="btn btn-white">Check Out</a>-->
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Logo section -->
                    <div class="about-logo">
                        <!-- logo -->
                        <h2>The science of <small class="color">travelling</small></h2>
                        <p>
                            Let us take a very small timeframe of our history and look at the last 1000 years. Millions of years of ice melted away leaving various fractions of humans stranded in parts of the world separated by oceans.
                            But the instinct of travel propelled the human race to overcome the obstacles. We cannot fly naturally like the cranes, nor can we swim like the whales who can swim across the oceans.
                            So, we resorted to our scientific knowledge. The Nordic symbol of Vegvisir means 'sign of direction', and is also called the Runic Compass or 'See the Way'.
                            This is one of the oldest travel device of the modern age. This symbol is from the 17th century Icelandic grimoire called  <span class="color">GALDRABOK</span> ('magic book').
                            The origin of this type of witchcraft is difficult to ascertain: to some extent it derives from medieval mysticism and renaissance occultism, but also has a few connections with the ancient Germanic runic tradition.
                            The word is derived from two Icelandic words: <span class="color">VEG</span> veg and <span class="color">VISIR</span>. "Vegur" means road or path, and "Visir" stands for the word Guide.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Logo section -->
                    <div class="about-logo">
                        <!-- logo -->
                        <h2 class="color">Modern Tools <small> and Technological Advancement</small></h2>
                        <p>
                            In recent times, developments in technology has helped us overcome the obstacles in Travel. When we sit inside a jet plane and fly to a different part of the world in less than half a day,
                            we hardly think about the years of research and adventurism of our race that has made it possible. Aviation is a very new aspect of travel, but it is only a subset of trans national navigation,
                            which for ages was limited to maritime travel. Aircrafts and ships still use the same basic navigational techniques that has been perfected over ages.
                            And it all gets linked to the Vegvisir, which transformed itself into a compass. One of the finest tools our civilization has produced.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
