@model WebApplication1.Models.CircuitModelBase

@Html.Partial("_HomepageCarousel")

<div class="container">

    <div class="headline">
        <h3>Our Destinations</h3>
    </div>
    
    <div class="row servive-block margin-bottom-10">
        <div class="col-md-12">
            <a href="/India">
                <div class="servive-block-in servive-block-colored servive-block-orange text-left">
                    <div class="block-heading-twelve">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <h3><img class="img-responsive img-border margin-bottom-20" src="~/Content/img/gallery/small/thumbnail_IndianWestCoast.jpg" /></h3>
                            </div>
                            <div class="col-md-8 col-sm-12 text-left">
                                <h3 class="white">India, Nepal &amp; Bhutan</h3>
                                <h5 class="white">
                                    Explore the tallest mountain range of the world, The Himalayas and go on Motorcycling, Backpacking &amp; Adventure travel.
                                    Get mesmerized by the majestic Taj Mahal and head to the desert of Rajasthan!
                                    From the gorgeous beaches of Goa,
                                    head South for the ancient temples and the Technology Hubs!
                                    Find Exciting Photography trips in India and Nepal.
                                    Know more about the far corners of the country, from the tribal villages of Nagaland to the
                                    Bull-run of Tamilnadu, Explore more travel ideas for the Sub-continent...
                                </h5>
                            </div>
                        </div>                            
                    </div>
                </div>
            </a>                
        </div>

        <div class="col-md-12">
            <div class="servive-block-in servive-block-colored servive-block-grey">
                <a href="/Circuit/Tanzania">
                    <div class="block-heading-twelve">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <h3><img class="img-responsive img-border margin-bottom-20" src="~/Content/img/gallery/small/thumbnail_kili.jpg" /></h3>
                            </div>
                            <div class="col-md-8 col-sm-12 text-left">
                                <h3 class="white">Climb Kilimanjaro</h3>
                                <h1 class="white">Enjoy a Safari in Serengeti</h1>
                                <h5 class="white">
                                    The tallest lone standing mountain in the world and some of the most amazing wildlife sights on Earth!
                                    <strong>Exciting Travel plans for Tanzania</strong> includes spending nights in a tent and keeping
                                    the fire on to keep the lions at bay, <strong>treading on knee deep snow to reach the summit of Kilimanjaro </strong>
                                    while you burn under a scorching sun! In the end enjoy a cool beer at a village hut and try some local delicacies, while
                                    you spot a Girraffe grazing on a tall Acacia tree.
                                </h5>
                            </div>
                        </div>                            
                    </div>
                </a>
            </div>
        </div>           

        <div class="col-md-12">
            <div class="servive-block-in servive-block-colored servive-block-orange">
                <a href="/Circuit/Mongolia">
                    <div class="block-heading-twelve">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <h3><img class="img-responsive img-border margin-bottom-20" src="~/Content/img/gallery/small/thumbnail_mongol02.jpg" /></h3>
                            </div>
                            <div class="col-md-8 col-sm-12 text-left">
                                <h3 class="white">Mongolia</h3>
                                <h1 class="white">Gobi Desert &amp;&nbsp;Altai Mountains</h1>
                                <h5 class="white">
                                    Be a Nomad in the endless fields of Mongolia! The legendary land of Zenghis Khan offers great adventure for every traveller.
                                </h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div><!--/servive-block-->

        <div class="col-md-12">
            <div class="servive-block-in servive-block-colored servive-block-grey">
                <a href="/Circuit/Russia">
                    <div class="block-heading-twelve">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <h3><img class="img-responsive img-border margin-bottom-20" src="~/Content/img/gallery/small/thumbnail_tsr02.jpg" /></h3>                            
                            </div>
                            <div class="col-md-8 col-sm-12 text-left">
                                <h3 class="white">Russia</h3>
                                <h1 class="white">Trans-Siberian &amp;&nbsp;Lake Baikal</h1>
                                <h5 class="white">
                                    The longest running train of the planet.
                                    The deepest lake on Earth.
                                    There are plenty of adventures stored in the world's largest country!
                                </h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div> 
        </div>
          

        

    </div>
</div>
