@model WebApplication1.Models.CircuitModelBase

@{ 
    ViewBag.Title = "Travelling in India";
    ViewBag.Description = "Travelogy Club offers expert travel planning and logistics services for your trips to India.";
    ViewBag.KeyWords = "India, India travel, India package tours, Travel planning India";
}

<div class="row">
    <div class="col-md-12 padd-10">
        <img class="img-responsive" src="~/Content/img/India/slider003.jpg" />
    </div>
</div>

<div class="headline">
    <h3>Travel circuits in India</h3>
</div>
<!--/breadcrumbs-->

@for (var i = 0; i < Model.AllDestinations.Count; i++)
{
    if (i % 4 == 0)
    {
        @Html.Raw("<div class=\"row\">");
    }

    {
        var item = Model.AllDestinations[i];
        @Html.Partial("_DestinationWidget", item)
    }

    if (i % 4 == 3)
    {
        @Html.Raw("</div>");
    }

    if (i == Model.AllDestinations.Count - 1)
    {
        @Html.Raw("</div>");
    }

}
 
