
<div class="row">
    <!-- Mainbar column -->
    <div class="col-md-12">

        <!-- Blog item starts -->
        <div class="blog-three-item">
            <!-- blog three slider -->
            <!-- Carousel -->
            <!-- Bootstrap carousel usage
                Bootstrap carousel should have id. Below i am using "bs-carousel-X". Where "X" denotes number". If a page has more than 1 carousel, then add the new carousel with the id "bs-carousel-1", "bs-carousel-2". You also need to update the id in, "carousel indicators" section and "carousel control" section.

                Carousel comes with 3 main data attributes which you can customize. They are...
                data-interval - Time delay between item cycle. Default value "5000".
                data-pause - Pause on hover. Default value "pause".
                data-wrap - Continues cycle or stop at the end. Default value "true".
            -->
            <!-- Outer layer -->
            <div id="bs-carousel-1" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" data-wrap="true">
                <!-- Bootstrap indicators. If you don't need indicators, remove the below section -->
                <ol class="carousel-indicators">
                    <li data-target="#bs-carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#bs-carousel-1" data-slide-to="1"></li>
                    <li data-target="#bs-carousel-1" data-slide-to="2"></li>
                    <li data-target="#bs-carousel-1" data-slide-to="3"></li>
                    <li data-target="#bs-carousel-1" data-slide-to="4"></li>
                </ol>
                <!-- Slides. You can also add captions -->
                <div class="carousel-inner">
                    <!-- Item, First item should have extra class "active" -->
                    <div class="item active">
                        <!-- Image -->
                        <img src="~/Content/img/Lake-Baikal/Baikal-s01.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/Content/img/Lake-Baikal/Baikal-s02.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/Content/img/Lake-Baikal/Baikal-s03.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/Content/img/Lake-Baikal/Baikal-s04.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="~/Content/img/Lake-Baikal/Baikal-s05.jpg" alt="">
                    </div>
                </div>
                <!-- Carousel controls (arrows). If you don't need controls, remove the below section -->
                <a class="left carousel-control" href="#bs-carousel-1" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#bs-carousel-1" role="button" data-slide="next">
                    <span class="fa fa-chevron-right"></span>
                </a>
            </div>

            <!-- blog three Content -->
            <div class="blog-three-content">
                <!-- Heading -->
                <h1>Explore the deepest lake on Earth</h1>
                <!-- Blog meta -->
                <!-- Paragraph -->
                <h4>
                    Lake baikal holds 20% of all the liquid fresh water in the world! Called the Pearl of Siberia this lake is made of drinkable clean water.
                    Surrounded by rocky terrain and pine forests, the lake is completely frozen in winter, and partly frozen in the spring time.
                </h4>
            </div>
        </div>
        <!-- Blog item ends -->
    </div>
</div>

<div class="img-box-3 text-center">
    <div class="row">
        <h1 class="text-center">Travelogy club services for Lake Baikal tours</h1><br />
    </div>
    <div class="row">
        <!--Item-1-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/18.png" alt="" class="img-responsive" />
                </div>
                <h4>Planning</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Use out expert team to create the best trip plan for your Trans-Siberian adventures.</small></h3>
            </div>
        </div>

        <!--Item-2-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/passport.png" alt="" class="img-responsive" />
                </div>
                <h4>Visas</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Travelogy club will take care of the travel documents you will need for the trip.</small></h3>
            </div>
        </div>

        <!--Item-3-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/train.png" alt="" class="img-responsive" />
                </div>
                <h4>Booking</h4>
                <div class="bor bg-orange"></div>
                <h3><small>We use our trusted partners on ground to book the train tickets and accomodations.</small></h3>
            </div>
        </div>

        <!--Item-4-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/chatting-2.png" alt="" class="img-responsive" />
                </div>
                <h4>Support</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Stay in touch with our global contact center and the regional partner through the trip.</small></h3>
            </div>
        </div>
    </div>

    <div class="row">

        <!--Item-6-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/hotel-8.png" alt="" class="img-responsive" />
                </div>
                <h4>Accommodation</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Find exciting accommodation in the region: ranging from bunk beds to luxury hotels and traditional wooden cottages.</small></h3>
            </div>
        </div>

        <!--Item-7-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/hills.png" alt="" class="img-responsive" />
                </div>
                <h4>Excursions</h4>
                <div class="bor bg-orange"></div>
                <h3><small>We arrange various excursions around the area surrounding Lake Baikal. Send your enquiry for details of day trips.</small></h3>
            </div>
        </div>

        <!--Item-5-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/iceberg.png" alt="" class="img-responsive" />
                </div>
                <h4>Adventure</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Engage in extreme activities around the lake: Go Snowmobiling, Dog-sledding, Ice-fishing in winter.</small></h3>
            </div>
        </div>

        <!--Item-5-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/minivan-taxi.png" alt="" class="img-responsive" />
                </div>
                <h4>Local Transport</h4>
                <div class="bor bg-orange"></div>
                <h3><small>We can arrange local transports for you, or you can always ask our contact center to arrange it on-demand.</small></h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        @if (Request.IsAuthenticated)
        {
            var _model = new WebApplication1.Models._StartTripPlanningViewModel() { CircuitName = "Lake Baikal" };
            @Html.Partial("_StartTripPlanning", _model)
        }

        else
        {
            @Html.Partial("_JoinNowTripPlanning")
        }
    </div>
    <div class="col-md-6 col-sm-6">
        @if (Request.IsAuthenticated)
        {
            var _model = new WebApplication1.Models._DownloadBrochureModel() { CircuitName = "Lake Baikal" };
            @Html.Partial("_DownloadBrochure", _model)
        }
        else
        {
            @Html.Partial("_SubmitTripRequest")
        }        
    </div>
</div>



