@model WebApplication1.Models.CircuitModelBase

<div class="row">
    <div class="col-md-12 padd-10">
        <img class="img-responsive" src="~/Content/img/Trans-Siberian/slider001.jpg" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="block-heading-twelve">
            <h3 class="color">Russia <small>world's biggest country!</small></h3>
        </div>
    </div>
</div>

<hr class="margin-bottom-20" />

<div class="about-us-one">
    <div class="about-logo">
        <p>
            Communism has gone away, paving way for a fiercely capitalistic Russia. 
            But what remained is the ideological gap with the 'West'. 
            Travelogy members firmly believe such ideological gaps can only be overcome by travelling. 
            Travel can make best friends out of two strangers! 
        </p>
        <p>
            The largest country on Earth has thousands of miles of rugged terrain, from extreme weather to extreme places, 
            it is a paradise for those with the travel bug! Spread across Eight time zones, this country calls for a trip where you want to lose your wristwatch!
        </p>
    </div>
</div>



<hr class="margin-bottom-20" />

@for (var i = 0; i < Model.AllDestinations.Count; i++)
{
    if (i % 4 == 0)
    {
        @Html.Raw("<div class=\"row\">");
    }

    {
        var item = Model.AllDestinations[i];
        @Html.Partial("_DestinationWidget", item)
    }

    if (i % 4 == 3)
    {
        @Html.Raw("</div>");
    }

    if (i == Model.AllDestinations.Count - 1)
    {
        @Html.Raw("</div>");
    }

}