@model WebApplication1.Models.CircuitModelBase

<div class="row">
    <div class="col-md-12 padd-10">
        <img class="img-responsive" src="~/Content/img/Safari-Tanzania/slider001.jpg" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="block-heading-twelve">
            <h3 class="color">Tanzania <small>endless wilderness and a volcanic mountain!</small></h3>
        </div>
    </div>
</div>

<hr class="margin-bottom-20" />

<div class="about-us-one">
    <div class="about-logo">
        <h4 class="orange">Climbing Kilimanjaro</h4>
        <p>
            Kilimanjaro is the tallest lone standing mountain in the world!
            At Uhuru peak, 5895 m above sea level, you can stand on a glacier right on the equator.
            You can then look at the clouds below you. Make new friends on the way up and on your way down.
            All this in the middle of the incredible landscape of Africa! 
        </p>
        <h4 class="orange">Get wild in the heart of Africa</h4>
        <p>
            Serengeti offers unparalleled closeness to the wild animals! 
            Spread over 30,000 sq.km this region hosts the world's largest migration of animals every year. 
            Home to about 70 large mammals and over 500 species of birds, Serengeti is a snapshot into the past. 
            This is exactly how our planet is supposed to be. While the Masai people walk next to the wild animals, 
            you will have to be on a safe 4x4 vehicle to be able to enjoy this wonderful place.
        </p>
    </div>
</div>

<hr class="margin-bottom-20" />

<div class="headline">
    <h3>Trip ideas for Tanzania</h3>
</div>



@for (var i = 0; i < Model.AllDestinations.Count; i++)
{
    if (i % 4 == 0)
    {
        @Html.Raw("<div class=\"row\">");
    }

    {
        var item = Model.AllDestinations[i];
        @Html.Partial("_DestinationWidget", item)
    }

    if (i % 4 == 3)
    {
        @Html.Raw("</div>");
    }

    if (i == Model.AllDestinations.Count - 1)
    {
        @Html.Raw("</div>");
    }

} 