@{
    ViewBag.Title = "Confirm Email";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="error-v1">
            <span class="error-v1-title">Congrats!</span>
            <span>Your email has been verified!</span>
            <p>Your account is active now!</p>
            @if (Request.IsAuthenticated)
            {
                <p class="orange">
                    Continue to plan your trips!
                </p>
            }
            else
            {
                <p>
                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            }

        </div>
    </div>
</div>
