@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="error-v1">
            <span class="error-v1-title">Done!</span>
            <span>Please check your email.</span>
            <p>We have sent a reset password link to you.</p>
            <p class="orange">
                If you do not see the mail, it may happen that you have forgotten to verify your email! Please get in touch with us by mailing from the account you signed up from.
            </p>
        </div>
    </div>
</div>
	
