@model WebApplication1.Models.DomingoAdminDashboardViewModel

@{
    ViewBag.RefreshPage = "Refresh every 1 min";
}

@Html.Partial("_HomepageCarousel")

<div class="headline">
    <h1>Admin Dashboard</h1>  
</div>
<div class="margin-bottom-20"></div>

@Html.Partial("_OnboardNewMember")

<div class="panel panel-default">
    <div class="panel-body">
        <div class="img-box-3 text-center">


            <div class="row">
                @if ((ApplicationUserManager.GetUserType(User.Identity.Name) == "admin")
                        || (ApplicationUserManager.GetUserType(User.Identity.Name) == "traveloger"))
                {
                    @*Trips*@
                    <div class="col-md-3 col-sm-6">
                        <div class="img-box-3-item">
                            <a href="/Admin/Trips">
                                <div class="img-box-3-icon">
                                    <img src="~/content/img/flat-icons/booking.png" alt="" class="img-responsive" />
                                </div>
                            </a>
                            <h4>Manage Trips</h4>
                        </div>
                        <div class="margin-bottom-20"></div>
                    </div>

                    @*Hotel Bookings*@
                    <div class="col-md-3 col-sm-6">
                        <div class="img-box-3-item">
                            <a href="/Admin/TripBookingAccommodations">
                                <div class="img-box-3-icon">
                                    <img src="~/content/img/flat-icons/hotel.png" alt="" class="img-responsive" />
                                </div>
                            </a>
                            <h4>Hotel Bookings</h4>
                        </div>
                        <div class="margin-bottom-20"></div>
                    </div>

                    @*Transfer Bookings*@
                    <div class="col-md-3 col-sm-6">
                        <div class="img-box-3-item">
                            <a href="/Admin/TripBookingTransports">
                                <div class="img-box-3-icon">
                                    <img src="~/content/img/flat-icons/aeroplane.png" alt="" class="img-responsive" />
                                </div>
                            </a>
                            <h4>Transfer Bookings</h4>
                        </div>
                        <div class="margin-bottom-20"></div>
                    </div>

                    @*Message Center*@
                    <div class="col-md-3 col-sm-6">
                        <div class="img-box-3-item">
                            <a href="/Admin/MessageCenter">
                                <div class="img-box-3-icon">
                                    <img src="~/content/img/flat-icons/11.png" alt="" class="img-responsive" />
                                </div>
                            </a>
                            <h4>Message Center</h4>
                        </div>
                        <div class="margin-bottom-40"></div>
                    </div>

                    @*manage Users*@
                    <div class="col-md-3 col-sm-6">
                        <div class="img-box-3-item">
                            <a href="/Admin/Users">
                                <div class="img-box-3-icon">
                                    <img src="~/content/img/flat-icons/group.png" alt="" class="img-responsive" />
                                </div>
                            </a>
                            <h4>Manage Users</h4>
                        </div>
                    </div>
                }

                @if ((ApplicationUserManager.GetUserType(User.Identity.Name) == "admin")
        || (ApplicationUserManager.GetUserType(User.Identity.Name) == "editor"))
                {
                    @*manage Destinations*@
                    <div class="col-md-3 col-sm-6">
                        <div class="img-box-3-item">
                            <a href="/Admin/Destinations">
                                <div class="img-box-3-icon">
                                    <img src="~/content/img/flat-icons/picture.png" alt="" class="img-responsive" />
                                </div>
                            </a>
                            <h4>Manage Destinations</h4>
                        </div>
                        <div class="margin-bottom-40"></div>
                    </div>

                    @*manage Templates*@
                    <div class="col-md-3 col-sm-6">
                        <div class="img-box-3-item">
                            <a href="/Admin/TripTemplates">
                                <div class="img-box-3-icon">
                                    <img src="~/content/img/flat-icons/maps-and-flags-4.png" alt="" class="img-responsive" />
                                </div>
                            </a>
                            <h4>Manage Templates</h4>
                        </div>
                        <div class="margin-bottom-40"></div>
                    </div>

                    @*manage Providers*@
                    <div class="col-md-3 col-sm-6">
                        <div class="img-box-3-item">
                            <a href="/Admin/Tripproviders">
                                <div class="img-box-3-icon">
                                    <img src="~/content/img/flat-icons/18.png" alt="" class="img-responsive" />
                                </div>
                            </a>
                            <h4>Manage Providers</h4>
                        </div>
                        <div class="margin-bottom-40"></div>
                    </div>
                }

            </div>
        </div>    
    </div>
</div>




