@using WebApplication1.Models
@model MessageViewModel

@Html.Partial("_HomepageCarousel")

<div class="block-heading-twelve">
    <h1>Contact Travelogy Ltd</h1>
</div>
<hr class="margin-bottom-20" />

@if (Request.IsAuthenticated)
{
    Html.RenderPartial("_MessageThreadStart", Model);
}
else
{
    @Html.Partial("_ContactUsExternal")
}

