
@Html.Partial("_HomepageCarousel")

<!--=== Breadcrumbs ===-->
<div class="headline">
    <div class="container">
        <h1 class="pull-left">Cookies &amp; Storage Technologies</h1>
    </div>
</div><!--/breadcrumbs-->

<div class="about-us-one">
    <div class="row">
        <div class="col-md-12">
            <p>A cookie is a small piece of text sent to your browser by a website you visit. 
            It helps the website to remember information about your visit. 
            That can make your next visit easier and the site more useful to you. 
            Cookies play an important role. 
            Without them, using the web would be a much more frustrating experience.</p>
            <p><strong> Cookies are important to the proper functioning of our website. </strong>
            We use cookies to remember log-in details and provide secure log-in, collect statistics to optimize site functionality. 
            By logging in to this website you agree to use the cookies on our website</p>
        </div>
    </div>
</div>




