@model WebApplication1.Models.TravelogyModelBase

@Html.Partial("_HomepageCarousel")
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">TRAVELOGY LTD. Privacy policy</h1>
    </div>
</div><!--/breadcrumbs-->

<!-- Main content starts -->

<div class="main-block">

    <div class="container">
        <p>
            "Client" means a person on the Site and "Membership" shall be interpreted accordingly.<br />
            "Site" means the website located at Travelogy Ltd.<br />
            "Terms" means the Terms of use which incorporate on the Site from time to time.<br />
            "We" or "Us" means Travelogy Ltd, a company registered in England and Wales under company number 8436057, with a registered office at 1 Jordans Close, Isleworth, TW7 4JB and "Our" shall be interpreted accordingly. "You" means you, the user of the Site and "Your" and "Yourself" shall be interpreted accordingly.
        </p>
        <p>"Your Data" means any information about You which makes You personally identifiable, including, without limitation, your name, postal address, telephone number, e-mail address, financial details (including bank account number, bank sort code and credit card details), social media profiles, personal descriptions, photos and other information from which You can be identified and which You may disclose to Us or otherwise via communication, electronic or otherwise at any time. We take the privacy rights of customers very seriously and seek to ensure the highest standards of compliance with United Kingdom data protection laws and regulations. Here We have outlined the privacy practices that We adopt, clearly detailing how, when and if We use the information that You provide to Us as a customer.</p>

        <h4>Data Storage</h4>
        <p>All Personal Data you provide to us is stored on secure servers. Regardless of location, we ensure that adequate technical and organisational measures are in place to protect the security of your Personal Data. We limit access to your Personal Data to employees who we believe have a legitimate need to come into contact with that information in order to fulfil their role and provide products or services to you.</p>
        <p>Unfortunately, the transmission of information via the internet can never be completely secure. Although we will do our best to protect your Personal Data, we cannot guarantee the security of your data transmitted to our websites or other Travelogy services; any transmission is at your own risk. Once we have received your Personal Data, we will use strict procedures and security features to try to prevent unauthorised access.</p>

        <p>
            This Privacy Policy is incorporated in and subject to the Terms. By accessing and continuing to use the Site, you accept the terms of this Privacy Policy. Please note that we may update and amend this Privacy Policy from time to time and any changes will be posted on the Site. It is Your responsibility to check regularly if there have been changes and to review such changes. We will indicate with a review date when these terms were last revised. If You do not agree with any of Our Privacy Policy, then you should not use the Site. If You have any questions about Our Privacy Policy, please email Us at <a href="mailto:info@travelogyclub.com">info@travelogyclub.com</a>.<br /><br />
            We collect Your Data when you contact us as a customer and request for information. We collect Your Data from You when You make a complaint or enquiry or provide other feedback to Us, in checking compliance with the Terms or as required by law, and when You disclose Your Data to Us or otherwise through the Site at any other point.
        </p>

        <p>
            We ask You for Your e-mail address, contact number, name, the country You live in and other details as and when necessary.
            We use Your Data to monitor, develop and improve the Site, and optimise Your experience; process Your engagement as a customer. Where (and only where) requested by You, and only to the extent requested by You,
            We also use Your Data to send You and keep You updated with information by e-mail or message through the Site about existing and new services and special offers from Us and to send You information by e-mail or message through the Site about related products or services of selected third parties that may be of interest to You.
        </p>

        <p>Your personal details including credit or debit card information are not stored by us or our financial partners, Paypal inc. Please also read privacy policy of Paypal inc in this regard.</p>

        <p>If your holiday is outside the European Economic Area (EEA) controls on data protection in your destination may not be as strict as in the UK. We will only pass data including sensitive information regarding disabilities or dietary and religious requirements to people responsible for your travel arrangements. If we cannot pass this information to the relevant suppliers in the EEA or elsewhere, we cannot provide your booking. When you make this booking you consent to this information being passed to all relevant persons. Information held by your Travel Agent is subject to that company's own data protection policy. We can supply a copy of your information held by us; there is a reasonable charge for providing this. We may use this information to contact you with details of our other products and services.IN NO EVENT WILL WE EVER RELEASE YOUR CREDIT/DEBIT CARD OR PAYMENT INFORMATION, except as necessary to receive payment.</p>

        <p>Often We may need to share Your Data with other service providers in order to facilitate the running of the Site. For example, third parties associated with hosting server co-locations or payment processing for product or services. When this happens, We implement strict contractual agreements with such third parties limiting the use of Your Data to activities specific to the Site.</p>

        <p>We may pass Your Data to other parties in certain circumstances. We may disclose Your Data to Our employees and agents to administer Your Membership and the services provided to You by Us now or in the future. We may also disclose Your Data to the police, regulatory bodies or legal advisers in connection with any alleged criminal offence or suspected breach of the Terms by You or otherwise where required by law.<p />

        <p>
            Please be aware that the Site may link to other websites that may be accessed by You through the Site. We are not responsible for the data policies, content or security of these linked web sites. We do not have any control over the use to which third parties may put Your Data where You choose to purchase products or services or otherwise to contact them via the Site and We take no responsibility or liability for such use by third parties.<br /><br />
            <strong> We endeavour to take all reasonable steps to protect your Data.</strong>
        </p>

        <p>
            This Privacy Policy explains to You the use of the Site. By clicking "Submit" or "Request Brochure" during the engagement process or by Your continued use of the Site You expressly agree to this Privacy Policy. This is Our entire and exclusive Privacy Policy and it supersedes any earlier version. This Privacy Policy should be read in conjunction with the Terms and any additional applicable terms posted on the Site.
        </p>
    </div>
</div>

<!-- Main content ends -->
