@model WebApplication1.Models.TravelogyModelBase

@Html.Partial("_HomepageCarousel")

<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">TRAVELOGY LTD. NOTICES, TERMS AND CONDITIONS</h1>
    </div>
</div><!--/breadcrumbs-->

<!-- Main content starts -->

<div class="main-block">

    <div class="container">

        <!-- Block heading two -->
        <p>We are Travelogy Ltd. and we look forward to the opportunity to act as your consultant for your travel needs. These terms and conditions (the "Agreement") describe what you are legally entitled to expect from us when you purchase travel related services through us, in addition to your obligations as a customer. The terms "we", "us" and "our" refer to Travelogy Ltd. The term "you" refers to the customer visiting our website, booking a travel through us or any of our affiliates, or otherwise using our services.</p>

        <!-- Block heading three -->
        <div class="block-heading-three">
            <h3><span>1. Our Agreement With You</span></h3>
        </div>


        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Products and Associates</h3>
        </div>
        <p>
            We sell a variety of travel related products from different suppliers and service providers ("Associates"). Each Associate has its own terms and condition that are applicable to your particular arrangements in addition to our general terms and conditions, and you should make sure you understand them. Our website, which is referred throughout this Agreement, can be found at www.travelogyclub.com.<br />

            Travelogy Ltd is acting as an intermediary / travel consultant or a "Booking Agent" for products and services that are not directly supplied by us (e.g., air carriage and ground transportation, hotel accommodations, meals, tours, excursions, etc.). We are not a co-vendor of such products and services. You will be entering into a separate contract with such associates in connection with such products and services. Such contracts will be monitored by us, and we hand pick our associates to make sure that we are aware of their quality of service. If you have any concern regarding the third party contracts, feel free to mail us at info@travelogyclub.com and discuss.<br />

            All airlines tickets are subject to supplemental price increases that may be imposed after the date of purchase. Post-purchase price increases may be applied due to additional costs imposed by a supplier or government. You may be charged additional sums by the associate agency we reccomend to you, to offset increased fees, fuel surcharges, taxes, and fluctuations in foreign exchange markets or any combination thereof. Acceptance of these terms and conditions hereby consent you to any post- purchase price increases and authorize Travelogy associate to make such fare adjustments.
        </p>

        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Deposits and Payment</h3>
        </div>
        <p>
            Payment of a deposit enables us to hold a reservation for you but does not guarantee the price. The price can only be guaranteed once we receive full payment and other travel documents have been issued, subject to any terms and conditions of the Associate(s). We will advise you of the date that full payment is required. Upon your provision of your payment information, you are authorizing us to make the payment arrangements with the corresponding Associates.<br />

            We reserve the right to refuse personal checks as a method of payment. After full payment, the conditions of the contract with your Supplier may permit them to increase the cost of your arrangements. If we are acting as your "Booking Agent", we will pass on any such increase to you as we become aware of such increase. If we have arranged a package, changes in transportation costs including the cost of fuel, taxes, fees and exchange rates mean that the price of your travel arrangements may change after you have paid in full.
        </p>

        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Cancellations and Changes</h3>
        </div>
        <p>
            Your contract with "Travelogy Ltd" ensures that in case of a cancellation of your trip for any reason including change of mind, the consultation fees charged by Travelogy Ltd is fully refundable before your departure. After departure no refund will be given. This amount will be clearly marked as "Travelogy Consultation Fees" in your invoice.<br />

            The part of payment(s) - deposit or otherwise - that is paid out to our Associates to make travel arrangements is liable to be refunded as per the individual travel contract you will have with that particular Associate.<br />

            Your contract with any of our Associates may allow them to cancel or amend bookings. If we are your "Booking Agent", we will ensure that you are promptly notified of any significant changes once we become aware of such change if there is time before your departure, but we accept no liability for any changes or costs incurred that may result. Subject to the Associate's terms and conditions, you will then have the choice of accepting the change of arrangements, accepting an offer of alternative travel arrangements if one is made available by the Associate, or canceling your booked arrangements and receiving any applicable refunds based on their individual contract. We do not guaranty that any refunds will apply from any associate.
        </p>

        <!-- Block heading three -->
        <div class="block-heading-three">
            <h3><span>2. Your Agreement With Us</span></h3>
        </div>


        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Your Acceptance of these Terms and Conditions</h3>
        </div>
        <p>
            By booking your arrangement with us or using our website, you are agreeing to be bound by the terms of this Agreement, including Parts 1-3 of this Agreement and any additional terms and conditions of any Associate that are applicable to your booking, travel arrangements or use of any website content. You agree on behalf of yourself and those you represent to comply with all such terms and conditions, including the payment of all amounts when due. You agree that any violation of any such terms and conditions may result in cancellation of your reservation or purchase, (b) your forfeiture of any monies paid for your reservation or purchase, (c) you being denied access to the applicable travel related product or service, and (d) our right to debit your account for any costs we incur as a result of such violation.<br />

            You represent and warrant that (a) you are of sufficient age to use our services and website and can create binding legal obligations in connection with your use, (b) you are legally authorized to act on behalf of those you represent and accept these terms and conditions on their behalf, and (c) the information supplied by you or members of your group is true and correct. You are responsible for informing such other persons of all terms and conditions applicable to their travel arrangements. You understand that you are financially responsible for any use of our services or website by you and those using your name or account.

        </p>


        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> If You Require Changes in Your Travel arrangements</h3>
        </div>
        <p>
            Where a change requested by you to your travel arrangements is permitted and possible, our standard service fees will apply in addition to any additional charges coming from our Associates. Please contact us to enquire about changes or review the 'FAQ' section of our "website" for details of how to request changes. Please note that all reservation changes are subject to availability and the terms and conditions of the service you have availed.<br />

            Changes to name details are not allowed by many airlines and other Associates. While we will endeavor make such a change if necessary, please bear in mind that most airlines and Associates treat a name change as a cancellation, to which standard conditions and charges would apply.<br />

            Flights must be taken in the sequence they appear on your ticket or eticket confirmation. If you plan not to take a flight as booked, please contact the airline as far in advance as possible to discuss your options. If you do not check in on time for a confirmed reservation, the airline may register you as a 'no-show', which could result in extra charges and/or your whole flight itinerary being cancelled and/or render your ticket void.

        </p>



        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> If You Cancel or partly Cancel Your Travel</h3>
        </div>
        <p>
            If you cancel your arrangements, you may be entitled to a full or partial refund. In addition to the cancellation terms and conditions of your Supplier(s), our standard fees will apply as may be outlined on your receipt or booking confirmation. We need to receive from you your original voucher before any applicable refund can be considered. If you decide to cancel arrangements before the balance due date, any deposits paid to our Associates are bound by the individual contracts and may be non-refundable.<br />

            Refunds will only be paid to you once we have received the funds back from the Associate(s). Generally flight tickets cannot be refunded if they are partially used. We are not responsible for a Associate's failure to pay a refund.<br />

            If the reason for your cancellation is covered under the terms of your travel insurance policy, you may be able to reclaim your cancellation charges through your insurer. Please contact us on help with making such claims.

        </p>



        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> If we cancel</h3>
        </div>
        <p>
            We can not guarantee the time limite of option booking since its not paid by Customer. Once Deposite paid then booking confirmation is our resposibilty. We reserve the right to amend your booking other than where there is a Major Change at any time. Most of these changes are minor and we will advise you at the earlier possible date. We will not cancel your booking within eight days of departure except for reasons of Force Majeure or failure by you to pay the final balance. If we have to make a Major Change we will inform you at the earliest possible date. You will have a choice of accepting change of arrangement, therefore accepting a holiday of equivalent value or accepting a refund. Kindly note that we do not compensate anything more then Full monies refund that made to us.
        </p>

        <p><strong>"Force Majeure"</strong> means any circumstances which are unusual and/or unforeseeable which are beyond the control of Travelogy Ltd the consequences of which could not have been avoided even if all due care had been exercised including but not limited to war, threat of war, riot, civil strife, political unrest; hostilities, government action, industrial dispute, natural or other disaster, nuclear incident, terrorist activity, drought, rescheduling or cancellation of flights or alteration of the airline or aircraft type by an airline or technical problems with transportation that are outside Travelogy Ltd's control.</p>

        <p><strong>"Major Change"</strong> includes without limitation :- </p>
        <p>
            (a) an alteration in the time of your departure or return to your scheduled time of departure or return of 12 hours or more; and/or<br />
            (b) a change in UK departure airport (excluding change of London airports) ; and/or<br />
            (c) a change of hotel or apartment to a materially lower rating; and/or<br />
            (d) a significant change of resort area;<br />
            (e) a significant increase in the price of your holiday
        </p>


        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> If You Have A Complaint</h3>
        </div>
        <p>If you have a problem during your holiday, please inform the relevant Associate (e.g. your local tour operator) immediately. Should they be unable to resolve the matter, please immediately contact us in the United Kingdom, either through e-Mail or Telephone, or through contact us form on our website. If you fail to timely contact us, we will not be permitted the opportunity to investigate your complaint and attempt to rectify any error while you are away, and this may affect your rights under this Agreement.</p>


        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Travel Documents and Destinations</h3>
        </div>
        <p>It is your responsibility to ensure that all of the details on your travel documents are correct and to bring to our attention any errors or discrepancies immediately. Your travel documents are valuable and should be safeguarded as if they were cash. It is not always possible to replace travel documents in the case of loss, theft, damage, etc.</p>
        <p>Prior to booking international travel, we recommend that you review any Government's prohibitions, warnings and advisories applicable to your destinations. As a commitment to a better experience for you, we will update you on all risks and dangers, and send updates on current situations. However, by offering travel to any particular destination, we do not represent that travel in such destination is safe or without risk.</p>


        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Passport, Visa and Immigration Requirements</h3>
        </div>
        <p>
            We will inform you on the travel requirements beforehand, but it is your responsibility to fullfil the passport, visa and other immigration requirements applicable to your itinerary.
            You should confirm these with the relevant embassies and/or consulates. We do not accept any responsibility in the case of you being unable to travel due to not complying with any such requirements.
            It is your responsibility to verify all requirements with our travel expert(s) who will be assisting you.
        </p>


        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Insurance</h3>
        </div>
        <p>Travel insurance is a vital part of your travel arrangements. We strongly recommend that you have taken out adequate insurance for the duration of your journey. Travel insurance is a mandatory element of some travel arrangements. We will be able to arrange travel insurance to be provided to you, furnish you a quote, and answer any queries you may have regarding the insurance through our Associate(s).</p>


        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Medical risks and Vaccinations</h3>
        </div>
        <p>
            Vaccinations may be required for some or all of the places you are intending to visit. It is your responsibility to ensure that you have arranged all necessary vaccinations for your itinerary.
            We will be furnishing you with list of vaccinations required for your destinations.
        </p>
        <hr />

        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Pregnancy Note</h3>
        </div>
        <p>Airline regulations state that women 28 weeks or more into pregnancy, at the time of return travel, must have medical certification of fitness to travel. Normally after 32 weeks permission to travel is refused however, airlines have different policies and we would need to check as to whether they will agree to carry you, prior to confirming your holiday. It is imperative that you notify us of your pregnancy at the time of booking or as at such time you become aware.</p>
        <hr />


        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Behaviour</h3>
        </div>
        <p>You will not be entitled to a refund if you are prevented from travelling by any person in authority who feels that you are unfit to travel or likely to disturb other passengers. We also reserve the right to end your holiday if your behaviour causes distress or damage to other passengers, employees or guests at your accommodation. In these circumstances you will not be refunded or compensated in any way and we may recover costs incurred as a result of your behaviour.</p>


        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Use of our Services</h3>
        </div>
        <p>
            You agree you will only use our website or services to make legitimate reservations or travel arrangements and shall not make speculative, false or fraudulent reservations or reservations for travel for any purpose other than tourism.
            You will only use our website and services in compliance with applicable law
        </p>
        <p>Our website may contain links to third party websites that we provide only as a convenience to you. You should take precautions to ensure that whatever links you access are free of viruses, worms, trojan horses or other destructive mechanisms The existence of these links does not imply that we endorse such websites or any included content. We are not responsible for such websites or content or any data privacy practices of such websites.</p>

        <p>
            a) use the Travelogy Ltd  Services and/or Travelogy Ltd  Platforms for any purpose that is improper, unlawful, or to post, share or transmit any material that (i) is defamatory, offensive, obscene or otherwise objectionable; (ii) is in breach of confidence or privacy or of any third party's rights including copyright, trade mark or other intellectual property rights; (iii) is posted, shared or transmitted for the purpose of advertising or promoting yourself or any third party; or (iv) is misleading or misrepresentative as to your identity or which in any way suggests that you are sponsored, affiliated or connected with Travelogy Ltd ;
            <br />b) use the Travelogy Ltd  Services and/or Travelogy Ltd  Platforms for any commercial purpose or in any manner which may cause damage to Travelogy Ltd  or bring Travelogy Ltd  into disrepute;
            <br />c) disassemble, reverse engineer or otherwise decompile any software, applications, updates or hardware contained in or available via the Travelogy Ltd  Services and/or Travelogy Ltd  Platforms, except as permitted by law;
            <br />d) copy, distribute, communicate to the public, sell, rent, lend or otherwise use the Travelogy Ltd  Services and/or Travelogy Ltd  Platforms, or seek to violate or circumvent any security measures employed to prevent or limit your access to or use of the Travelogy Ltd  Services and/or Travelogy Ltd  Platforms;
            <br />e) use or interfere with the Travelogy Ltd  Services and/or Travelogy Ltd  Platforms in a way that could damage, disable, overburden, impair or compromise our systems or security or interfere with other users;
        </p>


        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Indemnification</h3>
        </div>
        <p>You agree to indemnify us and our affiliates, and any of our Suppliers, and any such parties' officers, directors, employees and agents from and against any claims, causes of action, demands, losses, damages, or other costs, (including reasonable legal and accounting fees) brought by you or third parties as a result of (a) your breach of this Agreement, (b) your violation of any law or rights of any third party, or (c) your use of our website.</p>


        <!-- Block heading one -->
        <div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> Privacy Policy</h3>
        </div>
        <p>You consent to our processing and sharing of personal information about you and other members of your party that you have provided to us in accordance with the terms of and for the purposes set forth in our privacy policy. You represent that you have read and agree to the terms of our privacy policy, which can be found <a href="privacy.html" target="_blank">here</a>.</p>


        <!-- Block heading three -->
        <div class="block-heading-three">
            <h3><span>3. Warranties, Disclaimers and Limitation of Liability</span></h3>
        </div>

        <!-- Block heading one -->
        <!--<div class="block-heading-one">
            <h3><i class="fa fa-arrow-circle-right color"></i> xxxxxx</h3>
        </div>-->
        <p>FOR THE AVOIDANCE OF DOUBT, REFERENCES HEREIN TO "US" "WE" AND "OUR" SHALL ALSO REFER TO OUR ASSOCIATES. THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES PROVIDED BY US OR OUR ASSOCIATES OR PUBLISHED ON OUR WEBSITE MAY INCLUDE INACCURACIES OR ERRORS, INCLUDING PRICING ERRORS. WE DO NOT GUARANTEE THE ACCURACY OF, AND DISCLAIM ALL LIABILITY FOR ANY ERRORS OR OTHER INACCURACIES RELATING TO SUCH INFORMATION THAT APPEARS ON OUR WEBSITE. WE EXPRESSLY RESERVE THE RIGHT TO CORRECT ANY PRICING ERRORS ON OUR WEBSITE AND/OR ON PENDING RESERVATIONS MADE UNDER AN INCORRECT PRICE. IN SUCH EVENT, IF AVAILABLE, WE WILL OFFER YOU THE OPPORTUNITY TO KEEP YOUR PENDING RESERVATION AT THE CORRECT PRICE OR WE WILL CANCEL YOUR RESERVATION WITHOUT PENALTY.</p>
        <p>IN NO EVENT SHALL WE BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF, OR IN ANY WAY CONNECTED WITH, YOUR ACCESS TO, DISPLAY OF OR USE OF THIS WEBSITE OR OUR SERVICES OR WITH THE DELAY OR INABILITY TO ACCESS, DISPLAY OR USE OUR WEBSITE WHETHER BASED ON A THEORY OF NEGLIGENCE, CONTRACT, TORT, STRICT LIABILITY, OR OTHERWISE, AND EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
        <p>IF, DESPITE THE LIMITATION ABOVE, WE ARE FOUND LIABLE FOR ANY LOSS OR DAMAGE WHICH ARISES OUT OF OR IN ANY WAY CONNECTED WITH ANY OF THE OCCURRENCES DESCRIBED ABOVE, THEN OUR LIABILITY WILL IN NO EVENT EXCEED, IN THE AGGREGATE, THE GREATER OF (A) THE SERVICE FEES YOU PAID TO US IN CONNECTION WITH SUCH TRANSACTION(S) ON THIS WEBSITE, OR (B) ONE-HUNDRED DOLLARS (US$100.00) OR THE EQUIVALENT IN LOCAL CURRENCY.</p>
        <p>THE LIMITATION OF LIABILITY REFLECTS THE ALLOCATION OF RISK BETWEEN THE PARTIES. THE LIMITATIONS SPECIFIED IN THIS SECTION WILL SURVIVE AND APPLY EVEN IF ANY LIMITED REMEDY SPECIFIED IN THESE TERMS IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>

        <h4>When any details are submitted over the web site, you agree to have read and understood the Terms and conditions and accept them on behalf of all passengers travelling, by each of whom you are authorised to make any booking through the website. You also confirm that you are over the age of 18 when you submit your request.</h4>
        <br />
        <hr />
        <br />

    </div>
</div>

<!-- Main content ends -->
