<div class="contact-us-two">

    <div class="row">
    @if (!Request.IsAuthenticated)
    {
        <div class="col-md-6 col-sm-12">
            <!-- Contact Form -->
            <div class="contact-form">
                <h5>Contact Form</h5>
                <!-- Form -->
                <form class="form" role="form" action="/Information/ContactUsFormSubmitAsync" method="post">
                    <!-- Form Group -->
                    @Html.AntiForgeryToken()
                    @*<input type="hidden" name="FORM_ID" value="bc313251-2d8c-495f-ae19-4befcca7896e">
                    <input type="hidden" name="COMPLETE_URL" value="http://travelogyclub.com/v2/formsubmitted.html">*@
                    <div class="form-group">
                        <input type="text" class="form-control" id="FIRST_NAME" name="FIRST_NAME" placeholder="First Name (Required)" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="LAST_NAME" name="LAST_NAME" placeholder="Last Name (Required)" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="EMAIL" name="EMAIL" placeholder="Enter Email (Required)" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="PHONE" name="PHONE" placeholder="Phone Number (Optional)">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="CUSTOMFIELD[TRIP_REQUEST]" name="TRIP_REQUEST" rows="6" placeholder="Enter Message  (Optional)"></textarea>
                    </div>
                    <!-- Button -->
                    <button type="submit" class="btn btn-orange">Submit</button>&nbsp;
                    <button type="reset" class="btn btn-default">Reset</button>
                </form>
            </div>
        </div>
    }
    
           
        <div class="col-md-6 col-sm-12">
            <!-- Contact map -->
            <div class="contact-map">
                <h5>Locate Us</h5>
                <!-- Map Link -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39770.2042071349!2d-0.372455481150174!3d51.46480687610158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760d03186c5041%3A0x498a0d613f891bd5!2sJordans+Cl%2C+Isleworth+TW7+4JB!5e0!3m2!1sen!2suk!4v1478259088129" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><br />
            </div>
            <hr />
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-3 col-sm-6">
            <!-- Contact Item -->
            <div class="contact-item bg-black">
                <!-- Icon -->
                <i class="fa fa-phone"></i>
                <!-- Heading -->
                <h4>Call Us</h4>
                <!-- Paragraph -->
                <p class="white"> +44 208 560 2747<br /> (U.K.)</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <!-- Contact Item -->
            <div class="contact-item bg-orange">
                <i class="fa fa-building-o"></i>
                <h4>Address</h4>
                <p  class="white">
                    1 Jordans Close<br />
                    Isleworth, Greater London
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <!-- Contact Item -->
            <div class="contact-item bg-orange">
                <i class="fa fa-envelope"></i>
                <h4>Mail Us</h4>
                <p>
                    <a href="mailto:info@travelogyclub.com">info@travelogyclub.com</a><br />
                    <a href="mailto:beena@travelogyclub.com">beena@travelogyclub.com</a>
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <!-- Contact Item -->
            <div class="contact-item bg-black">
                <i class="fa fa-calendar-o"></i>
                <h4>Business Hours</h4>
                <p class="white">
                    Time : 9.30 to 5.30<br />
                    Weekdays
                </p>
            </div>
        </div>
    </div>
</div>
