<!-- Carousel -->
<!-- Bootstrap carousel usage
    Bootstrap carousel should have id. Below i am using "bs-carousel-X". Where "X" denotes number". If a page has more than 1 carousel, then add the new carousel with the id "bs-carousel-1", "bs-carousel-2". You also need to update the id in, "carousel indicators" section and "carousel control" section.

    Carousel comes with 3 main data attributes which you can customize. They are...
    data-interval - Time delay between item cycle. Default value "5000".
    data-pause - Pause on hover. Default value "pause".
    data-wrap - Continues cycle or stop at the end. Default value "true".
-->
<!-- Outer layer -->
<div id="bs-carousel-2" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" data-wrap="true">
    <!-- Bootstrap indicators. If you don't need indicators, remove the below section -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel-2" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel-2" data-slide-to="1"></li>
        <li data-target="#bs-carousel-2" data-slide-to="2"></li>
        @*<li data-target="#bs-carousel-2" data-slide-to="3"></li>
        <li data-target="#bs-carousel-2" data-slide-to="4"></li>
        <li data-target="#bs-carousel-2" data-slide-to="5"></li>
        <li data-target="#bs-carousel-2" data-slide-to="6"></li>
        <li data-target="#bs-carousel-2" data-slide-to="7"></li>*@
    </ol>
    <!-- Slides. You can also add captions -->
    <div class="carousel-inner">
        <!-- Item, First item should have extra class "active" -->

        <div class="item active">
            <img src="~/Content/img/backgrounds/TRV-S2.jpg" alt="">
            <div class="carousel-caption c-bottom-left">
                <!-- Heading -->
                <h4>Svalbard Island</h4>
                <!-- Para -->
                <p>Only 1300 km south of the North Pole - this island has 2500 human inhabitants and 3000 polar bears.</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/img/backgrounds/TRV-S8.jpg" alt="">
            <div class="carousel-caption c-bottom-right">
                <!-- Heading -->
                <h4>The highland cow</h4>
                <!-- Para -->
                <p>Seen in the Scottish highlands and the islands of the Inner and the Oouter Hebrides, they resemble pre-historic animals.</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/img/backgrounds/TRV-S5.jpg" alt="">
            <div class="carousel-caption c-left-big">
                <!-- Heading -->
                <h4>Trans Siberian</h4>
                <!-- Para -->
                <p>The Trans Siberian Railway runs across the Russian south, connecting west to the far east. At 9,289 km it is the world's longest railway stretch. Crossing seven time zones, trains take 7-8 days to complete the Journey.</p>
            </div>
        </div>        
    </div>
    <!-- Carousel controls (arrows). If you don't need controls, remove the below section -->
    <a class="left carousel-control" href="#bs-carousel-2" role="button" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#bs-carousel-2" role="button" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div>

