<div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
        <div class="pricing hover-effect">
            <div class="pricing-head">
                <h3>Join the club</h3>
                <h4>
                    <i>Sign up for </i>FREE<i> now</i>
                    <span>Use the FREE online trip planner</span>
                </h4>
            </div>
            <ul class="pricing-content list-unstyled">
                <li><i class="icon-tags"></i> Browse our trip ideas</li>
                <li><i class="icon-asterisk"></i>Choose a trip and cutomize it</li>
                <li><i class="icon-mail-reply"></i>Collaborate with our Travelogers</li>
                <li><i class="icon-star"></i>Request for accommodation and Transfers </li>    
            </ul>
            <div class="pricing-footer">
                <a class="btn-u btn-u-small" href="/Account/Register">
                    Sign up &nbsp; <i class="icon-arrow-right"></i>&nbsp; 
                </a>&nbsp;
                <a href="/Account/ExternalLogin?provider=Facebook" class="btn-u btn-u-small btn-u-orange">
                    <i class="icon-facebook"></i> &nbsp; Login with Facebook
                </a>
            </div>
        </div>
    </div>
</div>