<div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
        <div class="pricing hover-effect">
            <div class="pricing-head">
                <h3>Join the club</h3>
                <h4>Sign up for FREE now</h4>
            </div>
            <div class="text-center">
                <h3 class="orange">Use the FREE ONLINE TRIP PLANNER</h3>
                <h4>Browse through trip ideas</h4>
                <h4>Get expert help with trip planning</h4>
                <h1>&nbsp;</h1>
            </div>            
            <div class="pricing-footer">
                <a class="btn-u btn-u-small" href="/Account/Register">
                    Sign up &nbsp; <i class="icon-arrow-right"></i>&nbsp; 
                </a>&nbsp;
                <a href="/Account/ExternalLogin?provider=Facebook" class="btn-u btn-u-small btn-u-orange">
                    <i class="icon-facebook"></i> &nbsp; Login with Facebook
                </a>
            </div>
        </div>
    </div>
</div>