<!--Search Colored Blcok -->
<div class="search-blocks search-blocks-colored search-blocks-grey">
    <div class="row">
        <div class="col-md-4 search-img">
            <img class="img-responsive" src="~/Content/img/gallery/small/thumbnail_baikal.jpg" alt="">
            <ul class="list-unstyled">
                <li><i class="icon-briefcase"></i> Dell, Google</li>
                <li><i class="icon-map-marker"></i> New York, US</li>
            </ul>
        </div>
        <div class="col-md-8">
            <h2><a href="/Account/Register">Start planning</a></h2>
            <ul class="list-unstyled search-rating">
                <li><i class="icon-compass"></i></li>
                <li><i class="icon-star"></i></li>
                <li><i class="icon-star"></i></li>
                <li><i class="icon-star"></i></li>
                <li><i class="icon-star"></i></li>
            </ul>
            <h3>At vero eos et accusamus et iusto odio dignissimos ducimus qui b</h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
            <a href="/Account/Register" class="btn-u btn-u-orange">Join the club</a>
        </div>
    </div>
</div>
<!--Search Colored Blcok -->
