@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="row pull-right">
            <div class="col-md-12 pull-right col-sm-12">
                Hello @User.Identity.GetUserName()                             
                | @Html.ActionLink("Account settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                | <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </div>    
        </div>

        @*if (!ApplicationUserManager.UserEmailVerified(User.Identity.GetUserName()))
        {
            <div class="margin-bottom-10"></div>

            <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>Oh one small thing! Your account has not been verified yet!</h4>
                <p>When you signed up with Travelogy Club, we sent you a verification code to the email address you signed up with. Click on that link to verify your account.
                Alternatively you can request a new verification code by simply clicking the red button bellow.</p>
                <p>
                    <a class="btn-u btn-u-red" href="/Account/Verify">Verify my account</a>
                </p>
            </div>
        }*@
    }


}
