@model WebApplication1.Models._StartTripPlanningViewModel


<h1>Create your @Model.CircuitName trip now</h1>
<a class="btn-u btn-u-small" href="/service/tripplanning"><i class="icon-location-arrow"></i>&nbsp; Create a Trip plan</a>
