<div class="row">
    @Html.Partial("_TripPlannerAdvert")
</div>

<div class="row tag-box tag-box-v2 padd-15">
    <h3>
        Start planning now. You can <a href="/Circuit" class="orange">explore the destinations</a>, and <a href="/account/register" class="orange">Sign up</a> or 
        <a href="/Account/ExternalLogin?provider=Facebook" class="btn-u btn-u-orange"><i class="icon-facebook"></i> &nbsp; Login with Facebook</a> to start using our
        FREE online trip planner.   
    </h3>
</div>
