<div class="row">
    <div class="box-shadow-outer">
        <div class="box-shadow-block box-shadow-1 text-left">
            @Html.Partial("_TripPlannerAdvert")
        </div>
    </div> 
</div>

<div class="margin-bottom-20"></div>


<div class="row tag-box tag-box-v2 padd-15">
    <h3>
        You can start planning right away, simply <a href="/account/register" class="orange">Sign up</a> with E-Mail or with your  
        <a href="/Account/ExternalLogin?provider=Facebook" class="btn-u btn-u-orange"><i class="icon-facebook"></i> &nbsp; Facebook</a> account to start using our
        FREE online trip planner.   
    </h3>
</div>
