@model WebApplication1.Models.CircuitModelBase

@{ 
    ViewBag.Description = "Travelogy club offers fully customized holidays and travel opportunities in India";
    ViewBag.KeyWords = "India, India Travel, India Holidays";
}

<div class="row">
    <div class="col-md-12 padd-10">
        <img class="img-responsive" src="~/Content/img/India/india-holi.jpg" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="block-heading-twelve">
            <h3 class="color">India <small>from the Himalayas to the Indian Ocean</small></h3>
            <h5>... and from the mythical age of the Mahabharata to the modern world of an internet savvy society!</h5>
        </div>
    </div>
</div>

<div class="about-us-one">
    <div class="about-logo">
        <p>India is aptly called a sub-continent. This vast country offers the visitor a panorama of fascinating magnitude, 
        from the multitude of religions and ethnography, to a vast variety of languages, and monuments that have been present 
        for thousands of years. As India wakes up to a globalised world, it retains the connection with its history, 
        mixing it with the modernity that is seen in nooks and corners. The intensity of culture that awes and fascinates many who 
        visit there can be overwhelming.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="block-heading-eight">
            <h3>Geographically you can expect a lot here... <small>the highest mountain range in the world, over 4500 miles of coastline,
                high altitude desert, some of the densest forests of the world, vast salty marshes, lush green backwaters, 
                the wettest place on earth in the eastern corner of the country to a bone dry desert in the west!</small></h3>            
        </div>                 
    </div>
</div>

<div class="headline">
    <h3>Travel circuits in India</h3>
</div>

@for (var i = 0; i < Model.AllDestinations.Count; i++)
{
    if (i % 4 == 0)
    {
        @Html.Raw("<div class=\"row\">");
    }

    {
        var item = Model.AllDestinations[i];
        @Html.Partial("_DestinationWidgetMicro", item)
    }

    if (i % 4 == 3)
    {
        @Html.Raw("</div>");
    }

    if (i == Model.AllDestinations.Count - 1)
    {
        @Html.Raw("</div>");
    }

}
