@model WebApplication1.Models.DomingoModelBase

@{
    if (Model != null && Model.Destination != null)
    {
        ViewBag.Description = Model.Destination.MetaDescription;
        ViewBag.KeyWords = Model.Destination.MetaKeywords;
    }
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <ul class="pull-right breadcrumb">
            <li><a href="/India">India</a></li>
            <li><a href="/Circuit/India">All Circuits</a></li>
            <li class="active">@Model.Destination.Name</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
@Html.Partial("_DestinationViewHeader", Model)

<div class="container">
    <div class="row">
        <div class="col-md-12 padd-10">
            <img class="img-responsive" src="~/Content/img/India/motorcycle01.jpg" />
        </div>
    </div>
</div>


<div class="img-box text-center">
    <div class="row">
        <div class="col-md-12">
            <h1>Bike Rentals in Eastern Himalayas</h1>
            <h4 class="orange">Currently, the following fleet is available to rent.</h4>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img class="img-responsive" src="~/content/img/eastern-himalaya/RE-Himalayan.png" alt="">
                </div>
                <h5>Royal Enfield Himalayan</h5>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img class="img-responsive" src="~/content/img/eastern-himalaya/RE-Bullet-500.png" alt="">
                </div>
                <h5>Royal Enfield Bullet 500</h5>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img class="img-responsive" src="~/content/img/eastern-himalaya/RE-Bullet-350.png" alt="">
                </div>
                <h5>Royal Enfield Bullet 350</h5>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img class="img-responsive" src="~/content/img/eastern-himalaya/RE-Thunderbird.png" alt="">
                </div>
                <h5>Royal Enfield Thunderbird</h5>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img class="img-responsive" src="~/content/img/eastern-himalaya/Kawasaki-Versys.png" alt="">
                </div>
                <h5>Kawasaki Versys 650</h5>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img class="img-responsive" src="~/content/img/eastern-himalaya/HD-StreetBob.png" alt="">
                </div>
                <h5>Harley Davidson StreetBob</h5>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_DestinationViewCommon", Model)


<div class="container">

    <!--Circuit - 1: Nepal to Darjeeling-->
    <hr class="margin-bottom-30" />
    <div class="row">
        <div class="col-md-12 col-sm-12"><h3>Circuit - 1: Nepal to Darjeeling</h3></div>
        <div class="col-md-4">
            <div class="blog-three-item">
                <div class="blog-three-img">
                    <!-- Image -->
                    <img src="~/content/img/eastern-himalaya/nepal-small.jpg" alt="" class="img-responsive img-thumbnail" />
                </div>
                <div class="blog-three-content">
                    <!-- Heading -->
                    <h5>Nepal to Darjeeling &amp; Sikkim</h5>
                    <!-- Blog meta -->
                    <!-- Paragraph -->
                    <p>Start in the capital of Nepal, Kathmandu, and move east towards India. Drive (or Ride) through some of the most magnificent landscapes of the world.</p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m44!1m12!1m3!1d1809480.6470804347!2d84.85978256351727!3d27.651081475628704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m29!3e0!4m5!1s0x39be0e42b3323685%3A0xb78689d6f4ff1019!2sJomsom%2C+Nepal!3m2!1d28.7746477!2d83.7730237!4m5!1s0x3995937bbf0376ff%3A0xf6cf823b25802164!2spokhara!3m2!1d28.237987!2d83.99558789999999!4m5!1s0x39eb198a307baabf%3A0xb5137c1bf18db1ea!2sKathmandu%2C+Nepal!3m2!1d27.7172453!2d85.3239605!4m3!3m2!1d27.8121163!2d84.788071!4m5!1s0x39e44114f5441dcd%3A0xdeb5c4702063edff!2sSiliguri%2C+West+Bengal%2C+India!3m2!1d26.7271012!2d88.39528609999999!5e0!3m2!1sen!2suk!4v1483542487754" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="blog-three-content">
                <div class="blog-three-item"><h6>Map of the route: Nepal to India</h6></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="blog-three-content">
                <div class="blog-three-item">
                    <h6 class="orange">We recommend Motorcycle trip, backpacking or Jeep safari along this route. Contact us for complete customization of trips.</h6>
                </div>
            </div>
        </div>
    </div> 
    <!--Circuit - 1: Nepal to Darjeeling-->

    <!--Circuit - 2: India (Darjeeling &amp; Sikkim) and Bhutan-->
    <hr class="margin-bottom-30" />
    <div class="row">
        <div class="col-md-12 col-sm-12"><h3>Circuit - 2: India (Darjeeling &amp; Sikkim) and Bhutan</h3></div>
        <div class="col-md-8">
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m52!1m12!1m3!1d454280.4279137991!2d88.67652975078146!3d27.185667286113848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m37!3e0!4m5!1s0x39e44114f5441dcd%3A0xdeb5c4702063edff!2sSiliguri%2C+West+Bengal%2C+India!3m2!1d26.7271012!2d88.39528609999999!4m5!1s0x39e42e654cf501bb%3A0x4175555979d4702a!2sDarjeeling%2C+West+Bengal%2C+India!3m2!1d27.0360066!2d88.2626751!4m5!1s0x39e6a56a5805eafb%3A0x73d6132c501c8f20!2sGangtok%2C+Sikkim%2C+India!3m2!1d27.3389356!2d88.6065035!4m5!1s0x39e6cdb01406c43d%3A0xf34a0c13f69785b9!2sLachung%2C+Sikkim%2C+India!3m2!1d27.689056899999997!2d88.74297229999999!4m5!1s0x39e19419962037b7%3A0x7c01ffe2660560d1!2sThimphu%2C+Bhutan!3m2!1d27.4727924!2d89.6392863!4m5!1s0x39e19de85a6c39b7%3A0x1fa780f5a070190!2sParo%2C+Bhutan!3m2!1d27.428684!2d89.41636539999999!5e0!3m2!1sen!2suk!4v1483543220219" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="blog-three-content">
                <div class="blog-three-item"><h6>Map of the route: Nepal to India</h6></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-three-item">
                <div class="blog-three-content">
                    <!-- Heading -->
                    <h5>India (Darjeeling &amp; Sikkim) and Bhutan</h5>
                    <!-- Blog meta -->
                    <!-- Paragraph -->
                    <p>
                        Tucked between frontiers with China, Nepal and Bangladesh lies this landlocked region in the Eastern Himalayas. Famous for its tea,
                        the UNESCO heritage steam train, towering peaks in the backdrop, Darjeeling is called the Queen of the hills in India.
                    </p>
                </div>
                <div class="blog-three-img">
                    <!-- Image -->
                    <img src="~/content/img/eastern-himalaya/tigers-nest.jpg" alt="" class="img-responsive img-thumbnail" />
                </div>
                <div class="blog-three-content">
                    <p>
                        The state of Sikkim offers outstanding natural beauty, and the mystic land of Bhutan takes you back in time, to a land where
                        life is measured in quantum of Happiness instead of physical wealth.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="blog-three-item">
                <div class="blog-three-content">
                    <h4>Land Rover trips to Sandakphu</h4>
                    <p>
                        Sandakphu (almost 12,000 ft) is the highest peak in Singalila Range and Phalut is the second highest peak with an altitude of about 11,800ft. You can trek all the way
                        to Sandakphu, or travel retro-style in age old workhorses, the Land Rover Defenders which the Colonial rulers of England left behind. Contact us for a customized Land Rover Safari
                        to Sandakphu.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Circuit - 2: India (Darjeeling &amp; Sikkim) and Bhutan-->

    <!--Circuit - 3: North East India - Guwahati, Cherapunzee, Kaziranga and Tawang-->
    <hr class="margin-bottom-30" /> 
    <div class="row">
        <div class="col-md-12 col-sm-12"><h3>Circuit - 3: North East India - Guwahati, Cherapunzee, Kaziranga and Tawang</h3></div>
        <div class="col-md-4">
            <div class="blog-three-item">
                <div class="blog-three-content">
                    <!-- Heading -->
                    <h5>The roads less travelled</h5>
                    <!-- Blog meta -->
                    <!-- Paragraph -->
                    <p>
                        North East India is the least explored region that has fascinating lush green landscapes and amazing roads. Embark on a Road trip from Cherrapunjee,
                        the wettest place on Earth that offers roaring water falls, limestone caves & galore of water & adventure activities to Bomdila and Tawang,
                        the Buddhist hearland of the region. Visit the famed Kaziranga sanctuary, home to the Asian one horned Rhino.
                    </p>
                </div>
                <div class="blog-three-img">
                    <!-- Image -->
                    <img src="~/content/img/eastern-himalaya/camping-small.jpg" alt="" class="img-responsive img-thumbnail" />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m52!1m12!1m3!1d1829183.5174484125!2d91.23218599898122!3d26.43560589690966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m37!3e0!4m5!1s0x375a5a287f9133ff%3A0x2bbd1332436bde32!2sGuwahati%2C+Assam%2C+India!3m2!1d26.1445169!2d91.73623649999999!4m5!1s0x37507e8f34bd207f%3A0x62482df7108f882b!2sShillong%2C+Meghalaya%2C+India!3m2!1d25.578772599999997!2d91.8932535!4m5!1s0x37508cd1f80d5647%3A0x1db9015577abfe88!2sCherrapunji%E2%80%8E%2C+Meghalaya%2C+India!3m2!1d25.2716565!2d91.73080329999999!4m5!1s0x3744fbb424af3d57%3A0x4d16514f2d701362!2sKaziranga+National+Park%2C+Assam%2C+India!3m2!1d26.5252813!2d92.993808!4m5!1s0x375cac5fd5b0ee99%3A0x960d6d8f157de5ea!2sBomdila+Monastery%2C+Bomdila!3m2!1d27.2705077!2d92.4185554!4m5!1s0x375c5f19e58ccdeb%3A0x76165e7b2e280a94!2sTawang+Gompa!3m2!1d27.603513999999997!2d91.802002!5e0!3m2!1sen!2suk!4v1483550947794" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="blog-three-content">
                <div class="blog-three-item"><h6>Map of the route</h6></div>
            </div>
        </div>
    </div>
    <hr class="margin-bottom-30" />
    <!--Circuit - 3: North East India - Guwahati, Cherapunzee, Kaziranga and Tawang-->
</div>

