@using System.Collections.Generic
@using DomingoBL;
@using DomingoDAL;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_HomepageCarousel")

@{

    DomingoBL.BlObjects.BlViewTrip _nextTrip = null;
    if(Request.IsAuthenticated)
    {
        _nextTrip = ApplicationUserManager.GetImmidiateTrip(User.Identity.GetUserId());
    }
       
    <div class="container">
        <div class="about-us-one">
            <div class="row">
                <h1>Travelogy <small><i>(noun)</i><span class="orange"> the science of travelling.</span></small></h1>
            </div>            
            <hr class="margin-bottom-10" />
            <div class="row">
                <div class="container">
                    <div class="about-logo">
                        <h3>Welcome to the club created for the "travellers" <i>by</i> the travellers!</h3>
                        <p>
                            Find 360 degree solutions for your travel. Over here, you can create your custom trip plan using our <a href="/service/TripPlanning" class="orange">FREE Trip Planning tool.</a>
                            You can get ideas for trips to <strong>India, Nepal &amp; Bhutan, Russia, Mongolia and Tanzania</strong>.
                            Get in touch with us for <a href="/service/TravelLogistics" class="orange">Logistics &amp; Support services</a>
                            in the destinations to make your exotic trips a great experience to remember. We work with hand-picked, friendly and hard-working local operators in each destination.
                        </p>
                        @if (!Request.IsAuthenticated)
                        {
                            <blockquote>
                                <h3>Start using our trip planner <a href="/Account/Membership" class="btn-u btn-orange">Sign up for Free &nbsp; <i class="icon-arrow-right"></i> </a></h3> 
                            </blockquote>                            
                        }                        
                    </div>
                </div>
            </div>   
            
        </div>
    </div>

    <hr class="margin-bottom-40">

    <div class="container">
        <div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-lightbulb icon-info-blocks"></i>
                <div class="info-blocks-in">
                    <a href="/India"><h3>Great ideas for exotic trips</h3></a>
                    <p>
                        Great ideas for trips to <a href="/India" class="orange">India, Nepal, Bhutan</a>,
                        <a href="/Circuit/Russia">Russia</a>, <a href="/Circuit/Mongolia">Mongolia</a>  and <a href="/Circuit/Tanzania">Tanzania</a>. The itineraries have been prepared by expert travellers.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-laptop icon-info-blocks"></i>
                <a href="/service/TripPlanning">
                    <div class="info-blocks-in">
                        <h3>FREE Online trip planner</h3>
                        <p>Use our online planning tool for planning, booking and managing your trips.</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-user icon-info-blocks"></i>
                <a href="/service/TravelLogistics">
                    <div class="info-blocks-in">
                        <h3>Expert Travel advisers</h3>
                        <p>Our service is backed up by expert advisers and local travel agencies in every location we offer. Have local knowlede at your fingertips</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            @if (!Request.IsAuthenticated)
            {
                @Html.Partial("_CallmeBackMicro")
            }
        </div>
    </div>
    
    if (Request.IsAuthenticated)
    {
        @Html.Partial("_ImmediateTrip")
    }

    else
    {   <!--End Tag Box v5-->
        <div class="container">
            @Html.Partial("_TripPlannerAdvert")
        </div>        
    }

    <div class="margin-bottom-20"></div>

    <div class="container">          
        <div class="headline"><h3>Our Destinations</h3></div>
        <div class="row margin-bottom-20">
            <a href="/India">
                <div class="col-md-3 col-sm-6">
                    <h1>India</h1>     
                    <div class="margin-bottom-10"></div>               
                    <div class="thumbnails">
                        <img class="img-responsive" src="/content/img/gallery/small/thumbnail_IndianWestCoast.jpg" alt="" />
                    </div>
                    <p>From the Himalayas to the Indian Ocean, this vast country offers visitors a panorama of fascinating magnitude.</p>
                </div>
            </a>
            <a href="/Circuit/Tanzania">
                <div class="col-md-3 col-sm-6">
                    <h1>Tanzania</h1>
                    <div class="margin-bottom-10"></div>               
                    <div class="thumbnails">
                        <img class="img-responsive" src="/content/img/gallery/small/thumbnail_safari.jpg" alt="" />
                    </div>
                    <p>Visit the Oldupai Gorge where you can find the history of mankind, visit the Ngorongoro crater, where a pre-historic mega mountain once rose to the skies, twice the height of Kilimanjaro.</p>
                </div>
            </a>
            <a href="/Circuit/Russia">
                <div class="col-md-3 col-sm-6">
                    <h1>Russia</h1>
                    <div class="margin-bottom-10"></div>               
                    <div class="thumbnails">
                        <img class="img-responsive" src="/content/img/gallery/small/thumbnail_baikal_winter.jpg" alt="" />
                    </div>
                    <p>The largest country on Earth has thousands of miles of rugged terrain, from extreme weather to extreme places, it is a paradise for those with the travel bug! </p>
                </div>
            </a>
            <a href="/Circuit/Mongolia">
                <div class="col-md-3 col-sm-6">
                    <h1>Mongolia</h1>
                    <div class="margin-bottom-10"></div>               
                    <div class="thumbnails">
                        <img class="img-responsive" src="/content/img/gallery/small/thumbnail_mongolia.jpg" alt="" />
                    </div>
                    <p>From miles and miles of green grass or snow covered hills to the ruthless Gobi Desert and the Altai mountains, the legendary lands of Zenghis Khan open new opportunities for every traveller.</p>
                </div>
            </a>

        </div><!--/row-->
            @*<h1 class="orange">
                <small class="">We operate in </small> <a href="/India" class="orange">India, Nepal &amp; Bhutan</a>, <small class=""> <a href="/Circuit/Tanzania">Tanzania</a>, <a href="/Circuit/Russia">Russia</a>  &amp; <a href="/Circuit/Mongolia">Mongolia</a> </small> &nbsp;&nbsp;
                <a href="/Circuit" class="btn-u btn-large btn-orange">Find out more about the Destinations &nbsp;&nbsp; <i class="icon-arrow-right"></i></a>
            </h1>*@


    </div>
}


