@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_HomepageCarousel")


@if (Request.IsAuthenticated)
{
    List<DomingoBL.BlObjects.BlViewTrip> _allTrips = null;
    var blError = DomingoBL.TripManager.GetAllTripsForUserByName(User.Identity.Name, out _allTrips);
    if(_allTrips != null && _allTrips.Count > 0)
    {
        <h1>Your upcoming trip with Travelogy</h1>
        @Html.Partial("_TripPlanningPlannedTripSummary", _allTrips[0]);
    }
    else
    {
        <div class="row">
            @Html.Partial("_TripPlannerAdvert")
        </div>        
    }
}

else
{
    <!--Tag Box v5-->
    <div class="row tag-box tag-box-v5">
        <div class="col-md-12 col-sm-12">
            <h4>360 degree solution for travel to exotic destinations.</h4>
        </div>        
    </div>
    <!--End Tag Box v5-->

    @*<div class="row tag-box tag-box-v2 text-center">
        <div class="row">
            <div class="col-md-4">
                <a href="/Circuit" class="btn-u btn-u-lg btn-u-orange"><i class="icon-signin"></i>&nbsp;Start planning by exporing the circuits. </a> &nbsp;
            </div>
            <div class="col-md-4">
                <a href="/Account/ExternalLogin?provider=Facebook" class="btn-u btn-u-lg btn-u-orange"><i class="icon-facebook"></i> &nbsp; Login with Facebook</a>&nbsp;&nbsp;
            </div>
            <div class="col-md-4">
                <a href="/Information/ContactUs" class="btn-u btn-u-lg btn-u-orange"><i class="icon-envelope-alt"></i>&nbsp;Contact Us &nbsp;</a>
            </div>
        </div>            
    </div>*@

    @Html.Partial("_TripPlannerAdvert")

    <a href="/Account/Register"> <h1 class="text-center">Join now to start using the Travelogy Trip Planner</h1></a>
}
