@using System.Collections.Generic
@using DomingoBL;
@using DomingoDAL;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_HomepageCarousel")

@{

    DomingoBL.BlObjects.BlViewTrip _nextTrip = null;
    if(Request.IsAuthenticated)
    {
        _nextTrip = ApplicationUserManager.GetImmidiateTrip(User.Identity.GetUserId());
    }
       
    <div class="container">
        <div class="about-us-one">
            <div class="row">
                <h1>Travelogy <small><i>(noun)</i><span class="orange"> the science of travelling.</span></small></h1>
            </div>            
            <hr class="margin-bottom-10" />
            <div class="row">
                <div class="container">
                    <div class="about-logo">
                        <h3>Welcome to the club created for the "travellers" <i>by</i> the travellers!</h3>
                        <p>
                            Find 360 degree solutions for your travel. Over here, you can create your custom trip plan using our <a href="/service/TripPlanning" class="orange">FREE Trip Planning tool.</a>
                            You can get ideas for trips to <strong>India, Nepal &amp; Bhutan, Russia, Mongolia and Tanzania</strong>.
                            Get in touch with us for <a href="/service/TravelLogistics" class="orange">Logistics &amp; Support services</a>
                            in the destinations to make your exotic trips a great experience to remember. We work with hand-picked, friendly and hard-working local operators in each destination.
                        </p>
                    </div>
                </div>
            </div>
            @if (!Request.IsAuthenticated)
            {
                <hr class="margin-bottom-10" />
                <div class="row text-center">
                    @*Join us buttons*@
                    <div class="container">
                        <div class="col-md-12">
                            <h3>
                                Join the club: <a href="/Account/Register" class="orange">Sign up for Free </a>
                                 @*or <a href="/Account/ExternalLogin?provider=Facebook" class="btn-u btn-u-small btn-u-orange"><i class="icon-facebook"></i> &nbsp; Login with Facebook</a>*@
                            </h3>
                        </div>
                    </div>
                </div> @*END: Join us buttons*@

                @Html.Partial("_CallmeBackMicro")
            }
            
        </div>
    </div>

    <hr class="margin-bottom-40">

    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-lightbulb icon-info-blocks"></i>
            <div class="info-blocks-in">
                <a href="/India"><h3>Great ideas for exotic trips</h3></a>                
                <p>Great ideas for trips to <a href="/India" class="orange">India, Nepal, Bhutan</a>,  
                <a href="/Circuit/Russia">Russia</a>, <a href="/Circuit/Mongolia">Mongolia</a>  and <a href="/Circuit/Tanzania">Tanzania</a>. The itineraries have been prepared by expert travellers.</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-laptop icon-info-blocks"></i>
            <a href="/service/TripPlanning">
                <div class="info-blocks-in">
                    <h3>FREE Online trip planner</h3>
                    <p>Use our online planning tool for planning, booking and managing your trips.</p>
                </div>
            </a>            
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-user icon-info-blocks"></i>
            <a href="/service/TravelLogistics">
                <div class="info-blocks-in">
                    <h3>Expert Travel advisers</h3>
                    <p>Our service is backed up by expert advisers and local travel agencies in every location we offer. Have local knowlede at your fingertips</p>
                </div>
            </a>            
        </div>
    </div>
    <hr class="margin-bottom-20">

    if (Request.IsAuthenticated)
    {
        @Html.Partial("_ImmediateTrip")
    }

    else
    {   <!--End Tag Box v5-->
        @Html.Partial("_TripPlannerAdvert")
    }

    <div class="margin-bottom-20"></div>

    <div class="container">     
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="block-heading-twelve">
                    <h1 class="orange">
                        <small class="">We operate in </small> <a href="/India" class="orange">India, Nepal &amp; Bhutan</a>, <small class=""> <a href="/Circuit/Tanzania">Tanzania</a>, <a href="/Circuit/Russia">Russia</a>  &amp; <a href="/Circuit/Mongolia">Mongolia</a> </small> &nbsp;&nbsp;
                        <a href="/Circuit" class="btn-u btn-large btn-orange">Find out more about the Destinations &nbsp;&nbsp; <i class="icon-arrow-right"></i></a>
                    </h1>
                </div>
            </div>
        </div>   
    </div>
}


