@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_HomepageCarousel")


@if (Request.IsAuthenticated)
{
    List<DomingoBL.BlObjects.BlViewTrip> _allTrips = null;
    var blError = DomingoBL.TripManager.GetAllTripsForUserByName(User.Identity.Name, out _allTrips);
    if(_allTrips != null && _allTrips.Count > 0)
    {
        <h1>Your upcoming trip with Travelogy</h1>
        @Html.Partial("_TripPlanningPlannedTripSummary", _allTrips[0]);
    }
    else
    {
        <div class="row">
            @Html.Partial("_TripPlannerAdvert")
        </div>        
    }
}

else
{
    <!--Tag Box v5-->
    <div class="row tag-box tag-box-v5">
        <div class="col-md-6">
            <span>360 degree solution for travel to exotic destinations.</span>
        </div>
        <div class="col-md-6">
            <p> <a href="/Account/Register" class="btn-u btn-u-lg btn-u-orange"><i class="icon-signin"></i> &nbsp; Join the club</a></p>&nbsp;
            <p> <a href="/Account/ExternalLogin?provider=Facebook" class="btn-u btn-u-lg btn-u-orange"><i class="icon-facebook"></i> &nbsp; Login with Facebook</a></p>
        </div>
    </div>
    <!--End Tag Box v5-->

    @Html.Partial("_TripPlannerAdvert")

    <a href="/Account/Register"> <h1 class="text-center">Join now to start using the Travelogy Trip Planner</h1></a>
}
