<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" test/>
            
     
    -->
    <target name="databasev" xsi:type="Database" />

    <target xsi:type="Database" 
            name="databasev" 
            keepConnection="true"
            useTransactions="true"
            dbProvider="sqlserver"
            dbUserName="sa"
            dbPassword="N@rth3rnL1ght"
            dbDatabase="TravelogyDev"
            dbHost="YUBAN-OPTIPLEX7"
            commandText="INSERT INTO Sys_Log (CreateDate, Origin, LogLevel, Message, Exception, StackTrace) values (@createDate, @origin, @logLevel, @message, @exception, @stackTrace)">
        <parameter name="@createDate" layout="${date}"/>
        <parameter name="@origin" layout="${callsite}"/>
        <parameter name="@logLevel" layout="${level}"/>
        <parameter name="@message" layout="${message}"/>
        <parameter name="@exception" layout="${exception:format=Message,StackTrace}"/>
        <parameter name="@stackTrace" layout="${stacktrace}"/>
    </target>
    <target name="file" xsi:type="File" fileName="${basedir}/logs/Log ${shortdate}.txt" layout="${longdate} ${callsite} ${level}: ${message} ${exception:format=Message,StackTrace} ${stacktrace}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
      <logger name="*" minlevel="Debug" writeTo="databasev" />
    
  </rules>
</nlog>